<div class="modal-header">
  <h3 class="modal-title" i18n>Cropper</h3>
  <a class="close" (click)="activeModal.dismiss()">×</a>
</div>
<div class="modal-body">
  <ng-container *ngIf="picture$ | async as picture">
    <img
      alt=""
      [src]="picture.image_gallery_full.src"
      (load)="onLoad($event)"
      *ngIf="picture && picture.image_gallery_full"
    />
  </ng-container>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-secondary float-start select-all"
    (click)="selectAll(picture)"
    *ngIf="picture$ | async as picture"
  >
    <i class="bi bi-arrows-fullscreen" aria-hidden="true"></i>
    <span i18n>Select all</span>
  </button>
  <span></span>
  <button type="button" disabled class="btn btn-secondary float-start" i18n>
    {{ resolution }} (aspect is about {{ aspect }})
  </button>
  <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()" i18n>Close</button>
  <button type="button" class="btn btn-primary" (click)="onSave(picture)" i18n *ngIf="picture$ | async as picture">
    Save changes
  </button>
</div>
