<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/" i18n>Index page</a>
    </li>
    <li class="breadcrumb-item" *ngIf="brand">
      <a [routerLink]="['/', brand.catname]" [innerHTML]="brand.name_html"></a>
    </li>
    <li class="breadcrumb-item" *ngIf="brand && currentVehicleType">
      <a [routerLink]="['/', brand.catname, 'cars']" i18n>In chronological order</a>
    </li>
  </ol>
</nav>

<div class="page-header" *ngIf="brand">
  <h1 *ngIf="!currentVehicleType" i18n>{{brand.name_text}} in chronological order</h1>
  <h1 i18n *ngIf="currentVehicleType">{{brand.name_text}} {{getVehicleTypeTranslation(currentVehicleType.name)}} in chronological order</h1>
</div>

<ul class="nav nav-pills mb-4">
  <li class="nav-item" *ngFor="let item of vehicleTypes">
    <a [routerLink]="['/', brand.catname, 'cars', item.catname]" class="nav-link" [class.active]="currentVehicleType && item.id === currentVehicleType.id">
      {{getVehicleTypeTranslation(item.name)}} <span class="badge badge-info">{{item.itemsCount}}</span>
    </a>
  </li>
</ul>

<app-catalogue-list-item [item]="item" *ngFor="let item of items"></app-catalogue-list-item>

<app-paginator [data]="paginator" *ngIf="paginator"></app-paginator>
