<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/" i18n>Index page</a>
    </li>
  </ol>
</nav>

<div class="page-header">
  <h1 i18n>Articles</h1>
</div>

<ng-template #loading>
  <div class="spinner-border" role="status"><span class="visually-hidden" i18n>Loading…</span></div>
</ng-template>

<div class="card card-body" *ngIf="articles$|async as response; else loading">
  <ul class="articleList">
    <li *ngFor="let article of response.articles">
      <a [routerLink]="article.routerLink" *ngIf="article.previewUrl">
        <img alt="" [src]="article.previewUrl" style="float:left;margin:0 10px 4px 0" loading="lazy" />
      </a>

      <p>
        <a [routerLink]="article.routerLink" [textContent]="article.name"></a>
      </p>
      <p>
        {{article.description}}
        <a [routerLink]="article.routerLink" i18n>details</a>
      </p>
      <p>
        <app-user *ngIf="article.author$|async as author" [user]="author"></app-user>
        <span class="date" *ngIf="article.date" [textContent]="article.date | amTimeAgo" [ngbTooltip]="article.date | date: 'medium'"></span>
      </p>
    </li>
  </ul>

  <app-paginator [data]="response.paginator"></app-paginator>
</div>
