<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/" i18n>Index page</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/moder" i18n>Moderator page</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/moder/items" i18n>Items</a>
    </li>
  </ol>
</nav>

<div class="page-header">
  <h1 id="header" i18n>Too big</h1>
</div>

<span [hidden]="!loading">
  <span class="spinner-border" role="status"><span class="visually-hidden" i18n>Loading…</span></span>
</span>

<table class="table" [hidden]="loading" aria-describedby="header">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col" i18n>Name</th>
      <th scope="col" i18n>Count</th>
    </tr>
  </thead>
  <tbody>
    @for (item of items; track item.id) {
      <tr>
        <td [textContent]="item.id"></td>
        <td>
          <a [routerLink]="['/moder/items/item', item.id]" [innerHTML]="item.name_html"></a>
        </td>
        <td [textContent]="item.childs_count"></td>
      </tr>
    }
  </tbody>
</table>
