<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/" i18n>Index page</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/moder" i18n>Moderator page</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/moder/pictures" i18n>Pictures</a>
    </li>
  </ol>
</nav>

<div class="page-header" *ngIf="picture">
  <h1 translate [translateParams]="{id: picture.id}">moder/picture/picture-n</h1>
</div>

<div class="row mb-4" *ngIf="picture && picture.siblings">
  <div class="col-md-3">
    <a [routerLink]="['/moder/pictures', picture.siblings.prev_new.id]" [title]="picture.siblings.prev_new.name_text" *ngIf="picture.siblings.prev_new"
      translate>moder/picture/previous-new</a>
  </div>
  <div class="col-md-3 text-right">
    <a [routerLink]="['/moder/pictures', picture.siblings.prev.id]" [title]="picture.siblings.prev.name_text" *ngIf="picture.siblings.prev"
      translate>moder/picture/previous</a>
  </div>
  <div class="col-md-3">
    <a [routerLink]="['/moder/pictures', picture.siblings.next.id]" [title]="picture.siblings.next.name_text" *ngIf="picture.siblings.next"
      translate>moder/picture/next</a>
  </div>
  <div class="col-md-3 text-right">
    <a [routerLink]="['/moder/pictures', picture.siblings.next_new.id]" [title]="picture.siblings.next_new.name_text" *ngIf="picture.siblings.next_new"
      translate>moder/picture/next-new</a>
  </div>
</div>

<div class="row mb-4" *ngIf="picture">
  <div class="col-md-2">
    <img alt="" [src]="picture.thumb.src" *ngIf="picture.thumb" class="rounded border border-light w-100" />
  </div>
  <div class="col-md-6">
    <div class="card card-body">
      <div>
        {{'moder/picture/public-url:'|translate}}
        <a [routerLink]="['/picture', picture.identity]" [textContent]="'/picture/' + picture.identity"></a>
      </div>
      <div *ngIf="picture.image" style="overflow: hidden; text-overflow: ellipsis;">
        {{'moder/picture/image:'|translate}}
        <a [href]="picture.image.src" [textContent]="picture.image.src"></a>
      </div>
      <div>
        <a routerLink="/log" [queryParams]="{picture_id: picture.id}" translate>moder/log-of-events</a>
      </div>
      <div>
        <a [routerLink]="['/moder/pictures', picture.id, 'place']">
          <span class="fa fa-map-marker" aria-hidden="true"></span>
          Location<span *ngIf="picture.point">: {{picture.point.lat}},{{picture.point.lng}}</span>
        </a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card card-body">
      <div translate [translateParams]="{id: picture.id}">ng/moder/database-id-n</div>
      <div>{{'moder/picture/resolution:'|translate}}
        <strong>{{picture.width}}×{{picture.height}}</strong>
      </div>
      <div *ngIf="picture.dpi_x || picture.dpi_y">
        DPI:
        <strong>{{picture.dpi_x}}×{{picture.dpi_y}}</strong>
      </div>
      <div>{{'moder/picture/filesize:'|translate}}
        <strong [textContent]="picture.filesize | bytes : 2"></strong>
      </div>
      <div>{{'moder/picture/upload-date:'|translate}}
        <strong [textContent]="picture.add_date | amTimeAgo" [ngbTooltip]="picture.add_date | date: 'medium'"></strong>
      </div>
    </div>
  </div>
</div>

<div class="card card-body mb-4" *ngIf="picture">
  <table class="table" *ngIf="picture.items.length">
    <thead>
      <tr>
        <td>Item</td>
        <td translate>moder/picture/perspective</td>
        <td *ngIf="picture.rights.crop">Area</td>
        <td *ngIf="picture.rights.move">Move</td>
        <td *ngIf="picture.rights.move"></td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of picture.items">
        <td>
          <a [routerLink]="['/moder/items/item', item.item_id]" [innerHTML]="item.item.name_html"></a>
        </td>
        <td>
          <app-moder-pictures-perspective-picker [perspectiveID]="item.perspective_id" *ngIf="item.type == 1" (perspectiveChanged)="savePerspective($event, item)"></app-moder-pictures-perspective-picker>
        </td>
        <td *ngIf="picture.rights.crop">
          <a class="btn btn-secondary" [class.btn-success]="item.area" [routerLink]="['/moder/pictures', picture.id, 'area']" [queryParams]="{item_id: item.item_id, type: item.type}"
            arial-label="Area" style="margin:0" *ngIf="item.type == 1">
            <i class="fa fa-crop" aria-hidden="true"></i>
            {{'moder/picture/catalogue/pick-item-area'|translate}}
          </a>
        </td>
        <td *ngIf="picture.rights.move">
          <div class="btn-group" style="white-space:nowrap">
            <a [routerLink]="['/moder/pictures', picture.id, 'move']" [queryParams]="{src_item_id: item.item_id, src_type: item.type}"
              class="btn btn-secondary">
              <i class="fa fa-arrow-right" aria-hidden="true"></i>
              {{'moder/picture/catalogue/move-to'|translate}} ...
            </a>
            <div class="btn-group" ngbDropdown role="group" placement="bottom-right">
              <button class="btn btn-secondary" ngbDropdownToggle *ngIf="item.type == 1">
                <span class="caret" aria-hidden="true"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu" *ngIf="item.type == 1" ngbDropdownMenu>
                <button class="dropdown-item" (click)="moveItem(item.type, item.item_id, lastItem.id)" *ngIf="lastItem && !hasItem(lastItem.id)">
                  <i class="fa fa-arrow-right" aria-hidden="true"></i>
                  {{'moder/picture/catalogue/move-to'|translate}}
                  <span [innerHTML]="lastItem.name_html"></span>
                </button>
                <a *ngFor="let brand of item.item.brands" class="dropdown-item" [routerLink]="['/moder/pictures', picture.id, 'move']" [queryParams]="{src_item_id: item.item_id, src_type: item.type, brand_id: brand.id}">
                  <i class="fa fa-arrow-right" aria-hidden="true"></i>
                  {{'moder/picture/catalogue/move-to'|translate}}
                  <span [innerHTML]="brand.name_html"></span> ...
                </a>
              </div>
            </div>
          </div>
        </td>
        <td *ngIf="picture.rights.move">
          <button class="btn btn-danger" (click)="deletePictureItem(item)" aria-label="Delete" style="margin:0">
            <span class="fa fa-times" aria-hidden="true"></span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="picture.rights.move">
    <div *ngIf="lastItem && !hasItem(lastItem.id) && lastItem.item_type_id != 9">
      <button class="btn btn-secondary" (click)="addItem(lastItem, 1)">
        <i class="fa fa-plus" aria-hidden="true"></i>
        {{'moder/picture/catalogue/add-to'|translate}} (content)
        <span [innerHTML]="lastItem.name_html"></span>
      </button>
    </div>
    <div *ngIf="lastItem && !hasItem(lastItem.id) && lastItem.item_type_id == 8">
      <button class="btn btn-secondary" (click)="addItem(lastItem, 2)">
        <i class="fa fa-plus" aria-hidden="true"></i>
        {{'moder/picture/catalogue/add-to'|translate}} (author)
        <span [innerHTML]="lastItem.name_html"></span>
      </button>
    </div>
    <div *ngIf="lastItem && !hasItem(lastItem.id) && lastItem.item_type_id == 9">
      <button class="btn btn-secondary" (click)="addItem(lastItem, 3)">
        <i class="fa fa-plus" aria-hidden="true"></i>
        {{'moder/picture/catalogue/add-to'|translate}} (copyrights)
        <span [innerHTML]="lastItem.name_html"></span>
      </button>
    </div>
    <div>
      <a class="btn btn-success" [routerLink]="['/moder/pictures', picture.id, 'move']">
        <i class="fa fa-plus" aria-hidden="true"></i>
        {{'moder/picture/catalogue/add-to'|translate}} ...
      </a>
    </div>
  </div>

  <ngb-progressbar type="primary" [striped]="true" [animated]="true" [value]="100" [hidden]="!pictureItemLoading"></ngb-progressbar>
</div>

<div class="row" *ngIf="picture">
  <div class="col-md-6">
    <h3 translate>moder/picture/settings</h3>
    <form class="card card-body form-vertical mb-4">

      <div class="form-group row">
        <label class="col-md-3 col-form-label">Date of photo</label>
        <div class="col-md-9">
          <div class="form-row">
            <div class="form-group col-3">
              <input type="number" name="taken_year" [(ngModel)]="picture.taken_year"
                     placeholder="Year" [min]="1800" [max]="2030" class="form-control" [attr.maxlength]="4"
              />
            </div>
            <div class="form-group col-6">
              <select name="taken_month" [(ngModel)]="picture.taken_month" title="Month" class="form-control">
                <option *ngFor="let month of monthOptions" [ngValue]="month.value">{{month.name}}</option>
              </select>
            </div>
            <div class="form-group col-3">
              <select name="taken_day" [(ngModel)]="picture.taken_day" title="Day" class="form-control">
                <option *ngFor="let day of dayOptions" [ngValue]="day.value">{{day.name}}</option>
              </select>
            </div>
          </div>

        </div>
      </div>

      <div>
        <p class="text-danger">Achtung! High Voltage! Ты сюда не ходи!</p>
        <p class="text-danger">Поле использовать в ИСКЛЮЧИТЕЛЬНЫХ случаях. А лучше вообще никогда не использовать.</p>
      </div>

      <div class="form-group">
        <label translate>moder/picture/edit/special-name</label>
        <input type="text" class="form-control" maxlength="255" name="special_name" [(ngModel)]="picture.special_name" />
      </div>

      <div>
        <button class="btn btn-primary" (click)="saveSpecialName()">{{'submit'|translate}}</button>
      </div>

      <ngb-progressbar type="primary" [striped]="true" [animated]="true" [value]="100" [hidden]="!specialNameLoading"></ngb-progressbar>
    </form>

    <h3 translate>moder/picture/copyrights</h3>
    <div class="card card-body mb-4">
      <app-markdown [markdown]="'moder/markdown/description'|translate"></app-markdown>
      <app-markdown-edit [(text)]="picture.copyrights"></app-markdown-edit>
      <button class="btn btn-primary" (click)="saveCopyrights()" translate>submit</button>
      <p *ngIf="picture.copyrights_text_id">
        <a [routerLink]="['/info/text', picture.copyrights_text_id]" translate>moder/markdown/history</a>
      </p>

      <ngb-progressbar type="primary" [striped]="true" [animated]="true" [value]="100" [hidden]="!copyrightsLoading"></ngb-progressbar>
    </div>

    <h3 *ngIf="picture.exif">EXIF</h3>
    <div class="card card-body small mb-4" style="overflow:auto" *ngIf="picture.exif" [innerHTML]="picture.exif"></div>

  </div>

  <div class="col-md-6">

    <h3 translate *ngIf="picture.replaceable">moder/picture/replacement</h3>
    <div class="card card-body mb-4" *ngIf="picture.replaceable">
      <div>
        <p>
          {{'moder/picture/replacement/photo-suggested-to-replace'|translate}}
          <a [routerLink]="['/picture', picture.replaceable.identity]">/picture/{{picture.replaceable.identity}}</a>
        </p>
        <button class="btn btn-success" *ngIf="picture.rights.accept" (click)="acceptReplace()">
          <i class="fa fa-exchange" aria-hidden="true"></i>
          {{'moder/picture/replacement/accept-and-delete-double'|translate}}
        </button>
        <button class="btn btn-warning" *ngIf="picture.rights.accept" (click)="cancelReplace()">
          <i class="fa fa-times" aria-hidden="true"></i>
          {{'moder/picture/replacement/cancel'|translate}}
        </button>
      </div>

      <ngb-progressbar type="primary" [striped]="true" [animated]="true" [value]="100" [hidden]="!replaceLoading"></ngb-progressbar>
    </div>


    <h3 translate>moder/picture/acceptance</h3>
    <div class="card card-body mb-4">
      <app-user [user]="picture.change_status_user" *ngIf="picture.change_status_user"></app-user>

      <div *ngIf="picture.status == 'inbox'">
        <p>
          <strong class="badge badge-warning" translate>moder/picture/acceptance/not-accepted</strong>
        </p>

        <button class="btn btn-success" (click)="acceptPicture()" *ngIf="picture.rights.accept">
          {{'moder/picture/acceptance/accept'|translate}}
        </button>
        <button class="btn btn-danger" (click)="deletePicture()" *ngIf="picture.rights.delete">
          {{'moder/picture/acceptance/delete'|translate}}
        </button>
      </div>

      <div *ngIf="picture.status == 'accepted'">
        <p>
          <strong class="badge badge-success" translate>moder/picture/acceptance/accepted</strong>
        </p>

        <button class="btn btn-warning" (click)="unacceptPicture()" *ngIf="picture.rights.unaccept">
          {{'moder/picture/acceptance/unaccept'|translate}}
        </button>
      </div>

      <div *ngIf="picture.status == 'removing'">
        <p>
          <strong class="badge badge-danger" translate>moder/picture/acceptance/in-delete-queue</strong>
        </p>

        <button class="btn btn-warning" (click)="restorePicture()" *ngIf="picture.rights.restore">
          {{'moder/picture/acceptance/restore'|translate}}
        </button>
      </div>

      <div *ngIf="picture.status == 'removed'">
        <p>
          <strong class="badge badge-danger" translate>moder/picture/acceptance/removed</strong>
        </p>
      </div>

      <app-picture-moder-vote [picture]="picture" (changed)="pictureVoted()"></app-picture-moder-vote>

      <p *ngIf="picture.is_last">
        <span class="badge badge-warning" translate>moder/picture/acceptance/that-is-one-accepted-picture</span>
      </p>
      <p *ngIf="!picture.is_last && (picture.accepted_count <= 4)">
        <span class="badge badge-warning" translate [translateParams]="{count: picture.accepted_count}">ng/moder/picture/acceptance/accepted-pictures-is-n</span>
      </p>

      <ngb-progressbar type="primary" [striped]="true" [animated]="true" [value]="100" [hidden]="!statusLoading"></ngb-progressbar>
    </div>

    <h3 translate *ngIf="picture.rights.normalize || picture.rights.flop || picture.rights.crop">moder/picture/edit-and-repair</h3>
    <div class="card card-body mb-4" *ngIf="picture.rights.normalize || picture.rights.flop || picture.rights.crop">
      <div>
        <button class="btn btn-warning" (click)="normalizePicture()" *ngIf="picture.rights.normalize" [disabled]="repairLoading">
          <i class="fa fa-signal" aria-hidden="true"></i>
          {{'moder/picture/edit-and-repair/normalize'|translate}}
        </button>
        <button class="btn btn-warning" (click)="flopPicture()" *ngIf="picture.rights.flop" [disabled]="repairLoading">
          <i class="fa fa-arrows-h" aria-hidden="true"></i>
          {{'moder/picture/edit-and-repair/flop'|translate}}
        </button>
        <a class="btn btn-secondary" [routerLink]="['/moder/pictures', picture.id, 'crop']" *ngIf="picture.rights.crop" [class.disabled]="repairLoading">
          <i class="fa fa-crop" aria-hidden="true"></i>
          {{'moder/picture/edit-and-repair/crop'|translate}}
        </a>
      </div>

      <div>
        <button class="btn btn-secondary" (click)="repairPicture()" [disabled]="repairLoading">
          <i class="fa fa-wrench" aria-hidden="true"></i>
          {{'moder/picture/edit-and-repair/repair-all-files'|translate}}
        </button>
        <button class="btn btn-secondary" (click)="correctFileNames()" [disabled]="repairLoading">
          <i class="fa fa-wrench" aria-hidden="true"></i>
          {{'moder/picture/edit-and-repair/rebuild-files-names'|translate}}
        </button>
      </div>

      <ngb-progressbar type="primary" [striped]="true" [animated]="true" [value]="100" [hidden]="!repairLoading"></ngb-progressbar>
    </div>

    <h3 *ngIf="picture.similar">Similar picture</h3>
    <div class="card card-body mb-4" *ngIf="picture.similar">
      <p class="alert alert-warning" role="alert" ngPreserveWhitespaces>
        <span class="fa fa-file-image-o" aria-hidden="true"></span>
        <a [routerLink]="['/moder/pictures', picture.similar.picture_id]">
          Similar picture: {{picture.similar.distance}}
        </a>
      </p>
      <p *ngIf="picture.similar.picture.thumb">
        <a [routerLink]="['/moder/pictures', picture.similar.picture_id]">
          <img alt="" [src]="picture.similar.picture.thumb.src" class="rounded border border-light" />
        </a>
      </p>
      <button (click)="cancelSimilar()" class="btn btn-warning">That is not similar</button>

      <ngb-progressbar type="primary" [striped]="true" [animated]="true" [value]="100" [hidden]="!similarLoading"></ngb-progressbar>
    </div>

    <h3 translate>moder/picture/uploader</h3>
    <div class="card card-body mb-4">
      <app-user [user]="picture.owner" *ngIf="picture.owner"></app-user>
      <span *ngIf="!picture.owner" translate>moder/picture/uploader/unknown</span>
      <div *ngIf="ip && ip.address">
        {{'moder/picture/uploader/id-address:'|translate}}
        <strong [textContent]="ip.address"></strong>
        <br />
        <p *ngIf="ip.blacklist">
          {{'ban/that-address-is-banned'|translate}}
          <app-user [user]="ip.blacklist.user" *ngIf="ip.blacklist.user"></app-user>
          {{'ban/until'|translate}} {{ip.blacklist.up_to|date}}
          <span *ngIf="ip.blacklist.reason" [textContent]="ip.blacklist.reason"></span>
        </p>

        <button *ngIf="ip.blacklist && ip.rights.remove_from_blacklist" class="btn btn-success" (click)="removeFromBlacklist(ip.address)">
          {{'ban/unban'|translate}}
        </button>

        <form class="form-vertical" *ngIf="!ip.blacklist && ip.rights.add_to_blacklist">
          <div class="form-group">
            <label translate>ban/period</label>
            <select [(ngModel)]="banPeriod" name="period" class="form-control" required>
              <option *ngFor="let period of banPeriods" [value]="period.value">
                {{period.name|translate}}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label translate>ban/reason</label>
            <input maxlength="50" class="form-control" [(ngModel)]="banReason" name="reason" />
          </div>
          <button class="btn btn-danger" (click)="addToBlacklist(picture.ip.address)">
            {{'ban/ban'|translate}}
          </button>
        </form>

      </div>
    </div>
  </div>
</div>
