<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/" i18n>Index page</a>
    </li>
  </ol>
</nav>

<div class="page-header">
  <h1 i18n>Feedback</h1>
</div>

<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="card card-body mb-4">
      <form class="form-horizontal" (submit)="submit()">
        <fieldset>
          <legend i18n>Feedback</legend>

          <div class="mb-3 row">
            <label class="col-md-2 col-form-label" for="name" i18n>Your name</label>
            <div class="col-md-10">
              <input type="text" [class.is-invalid]="invalidParams && invalidParams.name" name="name" maxlength="255" size="80" autocomplete="name"
                class="form-control" [(ngModel)]="form.name">
              <p *ngFor="let message of invalidParams | invalidParams : 'name'" [textContent]="message" class="invalid-feedback"></p>
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-md-2 col-form-label" for="email">E-mail</label>
            <div class="col-md-10">
              <input type="text" [class.is-invalid]="invalidParams && invalidParams.email" name="email" maxlength="255" size="80" autocomplete="email"
                class="form-control" [(ngModel)]="form.email">
              <p *ngFor="let message of invalidParams | invalidParams : 'email'" [textContent]="message" class="invalid-feedback"></p>
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-md-2 col-form-label" for="message" i18n>Message</label>
            <div class="col-md-10">
              <textarea name="message" [class.is-invalid]="invalidParams && invalidParams.message" cols="80" rows="8" class="form-control"
                [(ngModel)]="form.message"></textarea>
              <p *ngFor="let message of invalidParams | invalidParams : 'message'" [textContent]="message" class="invalid-feedback"></p>
            </div>
          </div>
          <div class="mb-3 row" *ngIf="showCaptcha">
            <div class="col-md-10 offset-md-2">
              <re-captcha [(ngModel)]="form.captcha" name="captcha" required [siteKey]="recaptchaKey" *ngIf="recaptchaKey"></re-captcha>
              <p *ngFor="let message of invalidParams | invalidParams : 'captcha'" [textContent]="message" class="invalid-feedback"></p>
            </div>
          </div>
          <div class="mb-3 row">
            <div class="col-md-2"></div>
            <div class="col-md-10">
              <button type="submit" class="btn btn-primary" i18n>Submit</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
    <app-markdown i18n-markdown markdown="If you have come here to express words of support, it is possible to [express it in hard currency](/donate)"></app-markdown>
  </div>
</div>
