<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/" i18n>Index page</a>
    </li>
    <li class="breadcrumb-item" *ngIf="user">
      <a [routerLink]="['/users', user.identity ? user.identity : 'user' + user.id]">{{user.name}}</a>
    </li>
  </ol>
</nav>

<div class="page-header">
  <h1 i18n>Comments</h1>
</div>

<ul class="nav nav-pills" style="margin-bottom:10px">
  <li class="nav-item" *ngFor="let corder of orders">
    <a [class.active]="corder.value === order" class="nav-link" routerLink="." [queryParams]="{order: corder.value, page: null}"
      [textContent]="corder.name"></a>
  </li>
</ul>

<ul>
  <li *ngFor="let comment of comments">
    <strong *ngIf="comment.vote > 0">+{{comment.vote}}
      <span class="fa fa-thumbs-o-up" aria-hidden="true"></span>
    </strong>
    <strong *ngIf="comment.vote < 0">{{comment.vote}}
      <span class="fa fa-thumbs-o-down" aria-hidden="true"></span>
    </strong>
    <a [routerLink]="comment.route" [textContent]="comment.preview"></a>
  </li>
</ul>

<app-paginator [data]="paginator" *ngIf="paginator"></app-paginator>
