<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/" i18n>Index page</a>
    </li>
  </ol>
</nav>

<div class="page-header">
  <h1 i18n>New pictures</h1>
</div>

<div class="row mb-4">
  <div class="col-lg-4 col-md-4">
    <h3 class="text-left" *ngIf="prev && prev.date">
      &#x2190;
      <a [routerLink]="['/new', prev.date]" [textContent]="prev.date | amDateFormat: 'LL'"></a>
      <br />
      <small>(<span i18n="@@n-pictures">{prev.count, plural, one {{{prev.count}} picture} other {{{prev.count}} pictures}}</span>)</small>
    </h3>
  </div>
  <div class="col-lg-4 col-md-4">
    <h3 class="text-center" *ngIf="current">
      <span [textContent]="current.date | amDateFormat: 'LL'"></span>
      <br />
      <small>(<span i18n="@@n-pictures">{current.count, plural, one {{{current.count}} picture} other {{{current.count}} pictures}}</span>)</small>
    </h3>
  </div>
  <div class="col-lg-4 col-md-4">
    <h3 class="text-right" *ngIf="next && next.date">
      <a [routerLink]="['/new', next.date]" [textContent]="next.date | amDateFormat: 'LL'"></a>
      <br />
      <small>(<span i18n="@@n-pictures">{next.count, plural, one {{{next.count}} picture} other {{{next.count}} pictures}}</span>)</small>
      &#x2192;
    </h3>
  </div>
</div>

<div *ngFor="let group of groups">
  <div *ngIf="group.type == 'item'">
    <app-new-list-item [item]="group.item" [pictures]="group.pictures" [totalPictures]="group.total_pictures" [date]="date"></app-new-list-item>
  </div>
  <div *ngIf="group.type != 'item'">
    <div class="row" *ngFor="let chunk of group.chunks">
      <div class="col-6 col-md-4 col-lg-3 col-xl-2" *ngFor="let picture of chunk">
        <app-thumbnail [picture]="picture" [route]="['/picture', picture.identity]"></app-thumbnail>
      </div>
    </div>
  </div>
</div>

<app-paginator [data]="paginator" *ngIf="paginator"></app-paginator>
