.login-page {
  .nav { margin-bottom: 0; }
}

.signin-service {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  text-align: center;
  margin-right: 15px;
  display: inline-block;
  text-decoration: none;

  i {
    vertical-align: middle;
    color: white;
  }
}
