<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/" i18n>Index page</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/moder" i18n>Moderator page</a>
    </li>
  </ol>
</nav>

<div class="page-header">
  <h1 i18n>Items</h1>
</div>

<div class="nav nav-pills mb-4">
  <a class="nav-link" routerLink="." [queryParams]="{vehicle_type_id: 'empty', vehicle_childs_type_id: 19}">Buses without type</a>
  <a class="nav-link" routerLink="." [queryParams]="{vehicle_type_id: 'empty', vehicle_childs_type_id: 17}">Truck without type</a>
</div>
<div class="row">
  <div class="col-lg-4 col-md-4">
    <h2 i18n>Filter</h2>
    <form class="card card-body form-vertical">
      <div class="form-group">
        <label i18n>Name</label>
        <input placeholder="% - any characters" type="text" name="name" class="form-control" [(ngModel)]="name" (input)="onNameChanged()"
        />
      </div>
      <div class="form-group">
        <label i18n>Name (exclude)</label>
        <input placeholder="_ - any single character" type="text" name="name_exclude" class="form-control" [(ngModel)]="nameExclude"
          (input)="onNameExcludeChanged()" />
      </div>
      <div class="form-group">
        <label i18n>Item type</label>
        <select name="item_type_id" class="form-control" [(ngModel)]="itemTypeID" (change)="onItemTypeChanged()">
          <option [ngValue]="null">Any</option>
          <option [ngValue]="1" i18n>Vehicle</option>
          <option [ngValue]="2" i18n>Engine</option>
          <option [ngValue]="3" i18n>Category</option>
          <option [ngValue]="4" i18n>Twins</option>
          <option [ngValue]="5" i18n>Brand</option>
          <option [ngValue]="6" i18n>Factory</option>
          <option [ngValue]="7" i18n>Museum</option>
          <option [ngValue]="8" i18n>Person</option>
          <option [ngValue]="9" i18n>Copyright block</option>
        </select>
      </div>
      <div class="form-group">
        <label i18n>Vehicle type</label>
        <select name="vehicle_type_id" class="form-control" [(ngModel)]="vehicleTypeID" (change)="onVehicleTypeChanged()">
          <option [ngValue]="null">Any</option>
          <option [ngValue]="'empty'" i18n>Empty</option>
          <option [ngValue]="item.id" *ngFor="let item of vehicleTypeOptions">{{'...'.repeat(item.deep)}}{{item.nameTranslated}}</option>
        </select>
      </div>
      <div class="form-group">
        <label i18n>Have childs with type</label>
        <select name="vehicle_childs_type_id" class="form-control" [(ngModel)]="vehicleChildsTypeID" (change)="onVehicleChildsTypeChanged()">
          <option [ngValue]="null" i18n>Any</option>
          <option [ngValue]="item.id" *ngFor="let item of vehicleTypeOptions">{{'...'.repeat(item.deep)}}{{item.nameTranslated}}</option>
        </select>
      </div>
      <div class="form-group">
        <label i18n>Spec</label>
        <select name="spec" class="form-control" [(ngModel)]="specID" (change)="onSpecChanged()">
          <option [ngValue]="null" i18n>Any</option>
          <option [ngValue]="item.id" *ngFor="let item of specOptions">{{'...'.repeat(item.deep)}}{{item.short_name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label i18n>Year from</label>
        <input type="text" name="from_year" class="form-control" [(ngModel)]="fromYear" (input)="onFromYearChanged()" maxlength="4" />
      </div>
      <div class="form-group">
        <label i18n>Year to</label>
        <input type="text" name="to_year" class="form-control" [(ngModel)]="toYear" (input)="onToYearChanged()" maxlength="4" />
      </div>
      <div class="form-group">
        <label i18n>Parent</label>
        <ng-template #ancestorTemplate let-model="result">
          <span [innerHTML]="model.name_html"></span>
        </ng-template>
        <div class="input-group mb-3">
          <input [ngbTypeahead]="ancestorsDataSource" name="ancestor" [(ngModel)]="ancestorQuery" [inputFormatter]="ancestorFormatter"
            (selectItem)="ancestorOnSelect($event)" [resultTemplate]="ancestorTemplate" class="form-control" [class.border-primary]="ancestorID">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" [disabled]="!ancestorID" (click)="clearAncestor()">
              <span class="fa fa-close" aria-hidden="true"></span>
            </button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label i18n>Text</label>
        <input type="text" name="text" class="form-control" [(ngModel)]="text" (input)="onTextChanged()" />
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="no_parent" value="1" [(ngModel)]="noParent" (change)="onNoParentChanged()" />
          <ng-container i18n>Without parents</ng-container>
        </label>
      </div>
      <div class="form-group">
        <label i18n>Order</label>
        <select name="order" class="form-control" [(ngModel)]="order" (change)="onOrderChanged()">
          <option ngValue="id_desc" i18n>id desc</option>
          <option ngValue="id_asc" i18n>id asc</option>
          <option ngValue="childs_count" i18n>childs count</option>
          <option ngValue="name" i18n>name</option>
        </select>
      </div>
    </form>
  </div>
  <div class="col-lg-8 col-md-8">

    <div class="btn-group float-right">
      <a routerLink="." [queryParams]="{list: null}" queryParamsHandling="merge" class="btn btn-outline-secondary" [class.active]="!listMode">
        <i class="fa fa-th" aria-hidden="true"></i>
      </a>
      <a routerLink="." [queryParams]="{list: '1', order: 'name'}" queryParamsHandling="merge" class="btn btn-outline-secondary"
        [class.active]="listMode">
        <i class="fa fa-align-justify" aria-hidden="true"></i>
      </a>
    </div>

    <h2>
      <ng-container i18n>Items</ng-container>
      <span [hidden]="loading <= 0">
        <i class="fa fa-spinner fa-spin fa-fw" aria-hidden="true"></i>
      </span>
      <small *ngIf="paginator && paginator.totalItemCount" i18n="@@n-items">{paginator.totalItemCount, plural, one {{{paginator.totalItemCount}} item} other {{{paginator.totalItemCount}} items}}</small>
    </h2>

    <div *ngIf="listMode">
      <div *ngFor="let item of items">
        <a [routerLink]="['/moder/items/item', item.id]" [innerHTML]="item.name_html"></a>
      </div>
    </div>

    <div *ngIf="!listMode">
      <app-catalogue-list-item [item]="item" *ngFor="let item of items"></app-catalogue-list-item>
    </div>

    <app-paginator [data]="paginator" *ngIf="paginator"></app-paginator>
  </div>
</div>
