<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/" i18n>Index page</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/articles" translate>page/31/name</a>
    </li>
  </ol>
</nav>

<div class="page-header" *ngIf="article">
  <h1>{{article.name}}</h1>
</div>

<div class="card card-body" *ngIf="article">
  <div class="article clearfix" [innerHTML]="article.html"></div>
</div>

<app-comments style="text-align:left;margin-bottom:20px;clear:both" [itemID]="article.id" [typeID]="4" *ngIf="article && article.enabled"></app-comments>
