<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/" i18n>Index page</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/articles" i18n>Articles</a>
    </li>
  </ol>
</nav>

<ng-template #loading>
  <div class="spinner-border" role="status"><span class="visually-hidden" i18n>Loading…</span></div>
</ng-template>

<ng-container *ngIf="article$|async as article; else loading">
  <div class="page-header" *ngIf="article">
    <h1>{{article.name}}</h1>
  </div>

  <div class="card card-body" *ngIf="article">
    <div class="article clearfix" [innerHTML]="article.html"></div>
  </div>
</ng-container>
