<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/" translate>page/1/name</a>
    </li>
    <li class="breadcrumb-item" *ngIf="brand">
      <a [routerLink]="['/', brand.catname]" [innerHTML]="brand.name_html"></a>
    </li>
  </ol>
</nav>

<div class="page-header" *ngIf="brand">
  <h1 translate [translateParams]="{brand: brand.name_text}">page/37/ng-name</h1>
</div>

<app-catalogue-concepts-list-item [brand]="brand" [item]="item"  *ngFor="let item of items"></app-catalogue-concepts-list-item>

<app-paginator [data]="paginator" *ngIf="paginator"></app-paginator>
