<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/" i18n>Index page</a>
    </li>
  </ol>
</nav>

<div class="page-header">
  <h1 i18n>Pulse</h1>
</div>

<div>
  <div class="nav nav-pills mb-4">
    <a
      *ngFor="let period of periods"
      [class.active]="period.active"
      class="nav-link"
      href="#"
      (click)="selectPeriod(period)"
      [textContent]="period.name"
    ></a>
  </div>

  <ng-container *ngIf="data$ | async as data">
    <canvas
      baseChart
      width="400"
      height="150"
      [datasets]="gridData.data"
      [labels]="labels$ | async"
      [options]="chartOptions"
      [legend]="false"
      [type]="'bar'"
      *ngIf="gridData$ | async as gridData"
    ></canvas>

    <p *ngIf="legend$ | async as legend">
      <span *ngFor="let item of legend; let i = index">
        <app-user2 [user]="user" *ngIf="item.user$ | async as user"></app-user2>
      </span>
    </p>
  </ng-container>
</div>
