<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/" i18n>Index page</a>
    </li>
  </ol>
</nav>

<div class="page-header">
  <h1 i18n>Persons</h1>
</div>

<ul class="nav nav-pills mb-4">
  <li class="nav-item">
    <a class="nav-link" routerLink="/persons" translate [class.active]="!authors">persons/content-persons</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/persons/authors" translate [class.active]="authors">persons/author-persons</a>
  </li>
</ul>

<app-catalogue-list-item [item]="item" *ngFor="let item of items"></app-catalogue-list-item>

<app-paginator [data]="paginator" *ngIf="paginator"></app-paginator>
