<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/" i18n>Index page</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/moder" i18n>Moderator page</a>
    </li>
  </ol>
</nav>

<div class="page-header">
  <h1 i18n>Comments</h1>
</div>

<div class="row">
  <div class="col-md-4">
    <h2 i18n>Filter</h2>
    <form class="card card-body form-vertical">
      <div class="form-group">
        <ng-template #userTemplate let-model="result">
          <span [innerHTML]="model.name"></span>
        </ng-template>
        <div class="input-group">
          <input [ngbTypeahead]="usersDataSource" name="user" [(ngModel)]="userQuery" [inputFormatter]="userFormatter" (selectItem)="userOnSelect($event)"
            [resultTemplate]="userTemplate" i18n-placeholder placeholder="User №" class="form-control" [class.border-primary]="userID">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" [disabled]="!userID" (click)="clearUser()">
              <span class="fa fa-close" aria-hidden="true"></span>
            </button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label i18n>Moderator attention</label>
        <select name="moderator_attention" class="form-control" [(ngModel)]="moderatorAttention" (change)="setModeratorAttention()"
          [class.border-primary]="moderatorAttention !== null">
          <option [ngValue]="null" i18n>Not matters</option>
          <option [ngValue]="0" i18n>Not required</option>
          <option [ngValue]="1" i18n>Required</option>
          <option [ngValue]="2" i18n>Resolved</option>
        </select>
      </div>
      <div class="form-group">
        <ng-template #itemTemplate let-model="result">
          <span [innerHTML]="model.name_html"></span>
        </ng-template>
        <div class="input-group">
          <input [ngbTypeahead]="itemsDataSource" name="item" [(ngModel)]="itemQuery" [inputFormatter]="itemFormatter" (selectItem)="itemOnSelect($event)"
            [resultTemplate]="itemTemplate" i18n-placeholder placeholder="Item" class="form-control"
            [class.border-primary]="itemID">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" [disabled]="!itemID" (click)="clearItem()">
              <span class="fa fa-close" aria-hidden="true"></span>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-8">
    <h2>
      <ng-container i18n>Comments</ng-container>
      <span [hidden]="loading <= 0">
        <i class="fa fa-spinner fa-spin fa-fw" aria-hidden="true"></i>
      </span>
      <small *ngIf="paginator && paginator.totalItemCount" i18n="@@n-comments">{paginator.totalItemCount, plural, one {{{paginator.totalItemCount}} comment} other {{{paginator.totalItemCount}} comments}}</small>
    </h2>

    <ul class="comments">
      <li *ngFor="let comment of comments" ngPreserveWhitespaces>
        <span class="badge badge-warning" *ngIf="comment.is_new" i18n>not readed</span>
        <span class="badge badge-{{comment.status.class}}" *ngIf="comment.status" [ngSwitch]="comment.status.name">
          <ng-container *ngSwitchCase="'moder/picture/acceptance/accepted'" i18n>Accepted</ng-container>
          <ng-container *ngSwitchCase="'moder/picture/acceptance/inbox'" i18n>Inbox</ng-container>
          <ng-container *ngSwitchCase="'moder/picture/acceptance/removed'" i18n>Deleted</ng-container>
          <ng-container *ngSwitchCase="'moder/picture/acceptance/removing'" i18n>Deleting</ng-container>
        </span>
        <a [routerLink]="comment.route" [textContent]="comment.preview"></a>
        <app-user [user]="comment.user"></app-user>
      </li>
    </ul>
    <app-paginator [data]="paginator" *ngIf="paginator"></app-paginator>
  </div>
</div>
