<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/" i18n>Index page</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/moder" i18n>Moderator page</a>
    </li>
  </ol>
</nav>

<div class="page-header">
  <h1 i18n>Comments</h1>
</div>

<div class="row">
  <div class="col-md-4">
    <h2 i18n>Filter</h2>
    <form class="card card-body form-vertical">
      <div class="mb-3">
        <ng-template #userTemplate let-model="result">
          <span [innerHTML]="model.name"></span>
        </ng-template>
        <div class="input-group">
          <input
            [ngbTypeahead]="usersDataSource"
            name="user"
            [(ngModel)]="userQuery"
            [inputFormatter]="userFormatter"
            (selectItem)="userOnSelect($event)"
            [resultTemplate]="userTemplate"
            i18n-placeholder
            placeholder="User №"
            class="form-control"
            [class.border-primary]="!!(userID$ | async)"
          />
          <button
            class="btn btn-outline-secondary"
            type="button"
            [disabled]="(userID$ | async) === null"
            (click)="clearUser()"
          >
            <span class="bi bi-x" aria-hidden="true"></span>
          </button>
        </div>
      </div>
      <div class="mb-3">
        <label i18n>Moderator attention</label>
        <select
          name="moderator_attention"
          class="form-select"
          [(ngModel)]="moderatorAttention"
          (change)="setModeratorAttention()"
          [class.border-primary]="moderatorAttention !== ModeratorAttention.NONE"
        >
          <option [ngValue]="ModeratorAttention.NONE" i18n>Not matters</option>
          <option [ngValue]="ModeratorAttention.REQUIRED" i18n>Required</option>
          <option [ngValue]="ModeratorAttention.COMPLETE" i18n>Resolved</option>
        </select>
      </div>
      <div class="mb-3">
        <ng-template #itemTemplate let-model="result">
          <span [innerHTML]="model.nameHtml"></span>
        </ng-template>
        <div class="input-group">
          <input
            [ngbTypeahead]="itemsDataSource"
            name="item"
            [(ngModel)]="itemQuery"
            [inputFormatter]="itemFormatter"
            (selectItem)="itemOnSelect($event)"
            [resultTemplate]="itemTemplate"
            i18n-placeholder
            placeholder="Item"
            class="form-control"
            [class.border-primary]="itemID"
          />
          <button class="btn btn-outline-secondary" type="button" [disabled]="!itemID" (click)="clearItem()">
            <span class="bi bi-x" aria-hidden="true"></span>
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-8">
    <ng-container *ngIf="data$ | async as data">
      <h2>
        <ng-container i18n>Comments</ng-container>
        <ng-container *ngIf="data.paginator as paginator">
          <small *ngIf="paginator && paginator.totalItemCount" i18n="@@n-comments"
            >{paginator.totalItemCount, plural, one {{{paginator.totalItemCount}} comment} other
            {{{paginator.totalItemCount}} comments}}</small
          >
        </ng-container>
      </h2>

      <ul class="comments">
        <li *ngFor="let comment of data.comments" ngPreserveWhitespaces>
          <span class="badge text-bg-warning text-dark" *ngIf="comment.comment.isNew" i18n>not readed</span>
          <ng-container *ngIf="comment.comment.pictureStatus as s">
            <span class="badge text-bg-success" *ngIf="s === PictureStatus.PICTURE_STATUS_ACCEPTED" i18n>Accepted</span>
            <span class="badge text-bg-warning" *ngIf="s === PictureStatus.PICTURE_STATUS_INBOX" i18n>Inbox</span>
            <span class="badge text-bg-danger" *ngIf="s === PictureStatus.PICTURE_STATUS_REMOVED" i18n>Deleted</span>
            <span class="badge text-bg-danger" *ngIf="s === PictureStatus.PICTURE_STATUS_REMOVING" i18n>Deleting</span>
          </ng-container>
          <a [routerLink]="comment.comment.route" [textContent]="comment.comment.preview"></a>
          <app-user2 [user]="user" *ngIf="comment.user$ | async as user"></app-user2>
        </li>
      </ul>
      <app-paginator [data]="data.paginator" *ngIf="data.paginator"></app-paginator>
    </ng-container>
  </div>
</div>
