<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/" i18n>Index page</a>
    </li>
  </ol>
</nav>

<div class="page-header">
  <h1 i18n>Inbox</h1>
</div>

<div class="row">
  <div class="col-lg-4 col-md-4 offset-lg-4 offset-md-4 mb-4">
    <select name="brand_id" [(ngModel)]="brandID" class="form-control" (change)="changeBrand()">
      <option [ngValue]="0" i18n>All brands</option>
      <option *ngFor="let brand of brands" [textContent]="brand.name" [ngValue]="brand.id"></option>
    </select>
  </div>
</div>
<div class="row mb-4">
  <div class="col-lg-4 col-md-4">
    <h3 class="text-left" *ngIf="prev && prev.date">
      &#x2190;
      <a [routerLink]="['/inbox', brandID ? brandID : 'all', prev.date]" [textContent]="prev.date | amDateFormat: 'LL'"></a>
      <br />
      <small>(<span i18n="@@n-pictures">{prev.count, plural, one {{{prev.count}} picture} other {{{prev.count}} pictures}}</span>)</small>
    </h3>
  </div>
  <div class="col-lg-4 col-md-4">
    <h3 class="text-center" *ngIf="current">
      <span [textContent]="current.date | amDateFormat: 'LL'"></span>
      <br />
      <small>(<span i18n="@@n-pictures">{current.count, plural, one {{{current.count}} picture} other {{{current.count}} pictures}}</span>)</small>
    </h3>
  </div>
  <div class="col-lg-4 col-md-4">
    <h3 class="text-right" *ngIf="next && next.date">
      <a [routerLink]="['/inbox', brandID ? brandID : 'all', next.date]" [textContent]="next.date | amDateFormat: 'LL'"></a>
      <br />
      <small>(<span i18n="@@n-pictures">{next.count, plural, one {{{next.count}} picture} other {{{next.count}} pictures}}</span>)</small>
      &#x2192;
    </h3>
  </div>
</div>
<div class="row">
  <div class="col-6 col-md-4 col-lg-3" *ngFor="let picture of pictures">
    <app-thumbnail [picture]="picture" [route]="['/picture', picture.identity]"></app-thumbnail>
  </div>
</div>
<app-paginator [data]="paginator" *ngIf="paginator"></app-paginator>
