<div class="modal-header">
  <h3 class="modal-title" i18n>Send personal message</h3>
  <button class="btn-close" (click)="activeModal.dismiss()"></button>
</div>
<div class="modal-body">
  <textarea
    cols="65"
    rows="5"
    name="contents"
    (keypress)="keypress()"
    [formControl]="text"
    class="form-control"
    [disabled]="sending()"
    placeholder="Message"
    i18n-placeholder
  ></textarea>
</div>
<div class="modal-footer">
  <button
    class="btn"
    (click)="send()"
    [disabled]="sending() || text.value.length <= 0"
    [class.btn-success]="sent()"
    [class.btn-primary]="!sent()"
  >
    @if (sending()) {
      <span i18n>sending …</span>
    }
    @if (sent()) {
      <span i18n>sent</span>
    }
    @if (!sending() && !sent()) {
      <span i18n>send</span>
    }
  </button>
  <button class="btn btn-secondary cancel" i18n (click)="activeModal.dismiss()" [disabled]="sending()">cancel</button>
</div>
