<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/" i18n>Index page</a>
    </li>
    <li class="breadcrumb-item" *ngIf="brand$|async as brand">
      <a [routerLink]="['/', brand.catname]" [innerHTML]="brand.name_html"></a>
    </li>
  </ol>
</nav>

<app-mosts-contents
  *ngIf="brand$|async as brand"
  [prefix]="['/', brand.catname, 'mosts']"
  [ratingCatname]="ratingCatname$|async"
  [typeCatname]="typeCatname$|async"
  [yearsCatname]="yearsCatname$|async"
  [brandID]="brand.id"
></app-mosts-contents>
