<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/" i18n>Index page</a>
    </li>
    <li class="breadcrumb-item" *ngIf="brand$ | async as brand">
      <a [routerLink]="['/', brand.catname]" [innerHTML]="brand.name_html"></a>
    </li>
  </ol>
</nav>

<ng-template #loading>
  <div class="spinner-border" role="status"><span class="visually-hidden" i18n>Loading…</span></div>
</ng-template>

<app-mosts-contents
  *ngIf="brand$ | async as brand; else loading"
  [prefix]="['/', brand.catname, 'mosts']"
  [ratingCatname]="ratingCatname$ | async"
  [typeCatname]="typeCatname$ | async"
  [yearsCatname]="yearsCatname$ | async"
  [brandID]="brand.id"
></app-mosts-contents>
