<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/" i18n>Index page</a>
    </li>
  </ol>
</nav>

<div class="row">
  <div class="col-lg-8 mb-4 order-2">
    <div class="page-header">
      <h1 i18n>Contacts</h1>
    </div>
    <div class="row">
      <div class="col-md-6 mb-2" *ngFor="let contact of items">
        <div class="d-flex justify-content-start">
          <div class="align-self-start me-3">
            <a
              [routerLink]="['/users', contact.user.identity ? contact.user.identity : 'user' + contact.user.id]"
              *ngIf="!contact.user.deleted"
              class="photo"
            >
              <img alt="" [src]="contact.user.avatar.src" *ngIf="contact.user.avatar" class="rounded" loading="lazy" />
              <img
                alt=""
                [src]="contact.user.gravatar"
                *ngIf="contact.user.gravatar && !contact.user.avatar"
                class="rounded"
                loading="lazy"
              />
            </a>
          </div>
          <div class="flex-grow-1">
            <button class="btn-close float-end" (click)="deleteContact(contact.user.id)"></button>
            <h4>
              <app-user2 [user]="contact.user"></app-user2>
            </h4>
            <p
              *ngIf="contact.user.lastOnline"
              [textContent]="contact.user.lastOnline.toDate() | amTimeAgo"
              [ngbTooltip]="contact.user.lastOnline.toDate() | date : 'medium'"
            ></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 mb-4 order-1">
    <app-account-sidebar></app-account-sidebar>
  </div>
</div>
