<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/" i18n>Index page</a>
    </li>
  </ol>
</nav>

<div class="row">
  <div class="col-lg-8 mb-4 order-2">
    <div class="page-header">
      <h1 i18n>Contacts</h1>
    </div>
    <div class="row">
      <div class="col-md-6" *ngFor="let chunk of chunks">
        <ul class="media-list">
          <li class="media" *ngFor="let user of chunk">
            <div class="align-self-start mr-3">
              <a [routerLink]="['/users', user.identity ? user.identity : 'user' + user.id]" *ngIf="!user.deleted" class="photo">
                <img alt="" [src]="user.avatar.src" *ngIf="user.avatar" class="rounded" loading="lazy" />
                <img alt="" [src]="user.gravatar" *ngIf="user.gravatar && ! user.avatar" class="rounded" loading="lazy" />
              </a>
            </div>
            <div class="media-body">
              <a href="#" class="close" (click)="deleteContact(user.id)">&times;</a>
              <h4>
                <app-user [user]="user"></app-user>
              </h4>
              <p *ngIf="user.last_online" [textContent]="user.last_online | amTimeAgo" [ngbTooltip]="user.last_online | date: 'medium'"></p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-4 mb-4 order-1">
    <app-account-sidebar></app-account-sidebar>
  </div>
</div>
