<h4>{{'page/25/name'|translate}} <small><a routerLink="/twins" translate>all-link</a></small></h4>
<div class="spinner-border" role="status" *ngIf="!twins">
  <span class="sr-only">Loading...</span>
</div>
<p *ngIf="twins">
  <ng-container *ngFor="let brand of twins.brands">
    <a [routerLink]="['/twins', brand.catname]">{{brand.name}}</a>&#xa0;<span class="count">({{brand.count - brand.new_count}}<span *ngIf="brand.new_count > 0">+{{brand.new_count}}</span>)</span>
  </ng-container>
  <ng-container *ngIf="twins.brands_count > twins.brands.length">
    …
    {{'and'|translate}}
    <a routerLink="/twins" translate [translateParams]="{count: twins.brands_count - twins.brands.length}">{{'brands/more-{count}-companies'}}</a>
  </ng-container>
</p>
<app-markdown [markdown]="'index/twins/description'|translate"></app-markdown>
