<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/" i18n>Index page</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/moder" i18n>Moderator page</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/moder/items" i18n>Items</a>
    </li>
    <li class="breadcrumb-item" *ngIf="item$ | async as item">
      <a [routerLink]="['/moder/items/item', item.id]" [innerHTML]="item.nameHtml"></a>
    </li>
  </ol>
</nav>

<div class="page-header">
  <h1 i18n>Parent selection</h1>
</div>

<ng-container *ngIf="itemID$ | async as itemID">
  <ng-container *ngIf="tab$ | async as tab">
    <div class="nav nav-pills" style="margin-bottom: 10px">
      <a
        [class.active]="tab === 'catalogue'"
        *ngIf="showCatalogueTab$ | async"
        class="nav-link"
        [routerLink]="['/moder/items/item', itemID, 'select-parent']"
        [queryParams]="{tab: 'catalogue'}"
      >
        <i class="bi bi-list" aria-hidden="true"></i>
        <ng-container i18n>Catalogue</ng-container>
      </a>
      <a
        [class.active]="tab === 'brands'"
        *ngIf="showBrandsTab$ | async"
        class="nav-link"
        [routerLink]="['/moder/items/item', itemID, 'select-parent']"
        [queryParams]="{tab: 'brands'}"
      >
        <i class="bi bi-list" aria-hidden="true"></i>
        <ng-container i18n>Brands</ng-container>
      </a>
      <a
        [class.active]="tab === 'categories'"
        class="nav-link"
        [routerLink]="['/moder/items/item', itemID, 'select-parent']"
        [queryParams]="{tab: 'categories'}"
      >
        <i class="bi bi-tag-fill" aria-hidden="true"></i>
        <ng-container i18n>Categories</ng-container>
      </a>
      <a
        [class.active]="tab === 'twins'"
        *ngIf="showTwinsTab$ | async"
        class="nav-link"
        [routerLink]="['/moder/items/item', itemID, 'select-parent']"
        [queryParams]="{tab: 'twins'}"
      >
        <i class="bi bi-circle-half" aria-hidden="true"></i>
        <ng-container i18n>Twins</ng-container>
      </a>
      <a
        [class.active]="tab === 'factories'"
        *ngIf="showFactoriesTab$ | async"
        class="nav-link"
        [routerLink]="['/moder/items/item', itemID, 'select-parent']"
        [queryParams]="{tab: 'factories'}"
      >
        <i class="bi bi-gear-wide-connected" aria-hidden="true"></i>
        <ng-container i18n>Factories</ng-container></a
      >
    </div>

    <ng-container *ngIf="item$ | async as item">
      <app-moder-items-item-select-parent-catalogue
        *ngIf="tab === 'catalogue'"
        [itemID]="+itemID"
        [itemTypeID]="item.itemTypeId"
        (selected)="select(itemID, $event)"
      ></app-moder-items-item-select-parent-catalogue>
    </ng-container>
    <app-moder-items-item-select-parent-brands
      *ngIf="tab === 'brands'"
      (selected)="select(itemID, $event)"
    ></app-moder-items-item-select-parent-brands>
    <app-moder-items-item-select-parent-categories
      *ngIf="tab === 'categories'"
      [itemID]="+itemID"
      (selected)="select(itemID, $event)"
    ></app-moder-items-item-select-parent-categories>
    <app-moder-items-item-select-parent-twins
      *ngIf="tab === 'twins'"
      [itemID]="+itemID"
      (selected)="select(itemID, $event)"
    ></app-moder-items-item-select-parent-twins>
    <app-moder-items-item-select-parent-factories
      *ngIf="tab === 'factories'"
      [itemID]="+itemID"
      (selected)="select(itemID, $event)"
    ></app-moder-items-item-select-parent-factories>
  </ng-container>
</ng-container>
