<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/" i18n>Index page</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/moder" i18n>Moderator page</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/moder/items" i18n>Items</a>
    </li>
    <li class="breadcrumb-item" *ngIf="item">
      <a [routerLink]="['/moder/items/item', item.id]" [innerHTML]="item.name_html"></a>
    </li>
  </ol>
</nav>

<div class="page-header">
  <h1 i18n>Parent selection</h1>
</div>

<div class="nav nav-pills" style="margin-bottom:10px" *ngIf="item">
  <a [class.active]="tab === 'catalogue'" *ngIf="showCatalogueTab" class="nav-link" [routerLink]="['/moder/items/item', item.id, 'select-parent']"
    [queryParams]="{tab: 'catalogue'}">
    <i class="fa fa-list" aria-hidden="true"></i> Catalogue</a>
  <a [class.active]="tab === 'brands'" *ngIf="showBrandsTab" class="nav-link" [routerLink]="['/moder/items/item', item.id, 'select-parent']"
    [queryParams]="{tab: 'brands'}">
    <i class="fa fa-list" aria-hidden="true"></i> Brands</a>
  <a [class.active]="tab === 'categories'" class="nav-link" [routerLink]="['/moder/items/item', item.id, 'select-parent']" [queryParams]="{tab: 'categories'}">
    <i class="fa fa-tag" aria-hidden="true"></i> Categories</a>
  <a [class.active]="tab === 'twins'" *ngIf="showTwinsTab" class="nav-link" [routerLink]="['/moder/items/item', item.id, 'select-parent']"
    [queryParams]="{tab: 'twins'}">
    <i class="fa fa-adjust" aria-hidden="true"></i> Twins</a>
  <a [class.active]="tab === 'factories'" *ngIf="showFactoriesTab" class="nav-link" [routerLink]="['/moder/items/item', item.id, 'select-parent']"
    [queryParams]="{tab: 'factories'}">
    <i class="fa fa-cogs" aria-hidden="true"></i> <ng-container i18n>Factories</ng-container></a>
</div>

<div class="card card-body" *ngIf="tab === 'catalogue'">
  <input type="text" [(ngModel)]="search" (input)="doSearch()" class="form-control mb-4" placeholder="Type to search ..." autofocus />
  <table class="table" *ngIf="!brandID">
    <tbody>
      <tr>
        <td [ngStyle]="{width: 100/6 + '%'}" *ngFor="let chunk of brands">
          <ng-container *ngFor="let item of chunk">
            <a routerLink="." [queryParams]="{brand_id: item.id}" queryParamsHandling="merge" [innerHTML]="item.name_html"></a>
            <br />
          </ng-container>
        </td>
      </tr>
    </tbody>
  </table>
  <ul *ngIf="brandID">
    <li class="car-node" *ngFor="let citem of items">
      <app-moder-items-item-select-parent-tree [item]="citem" (selected)="select($event)" [disableItemID]="item.id" (loadChilds)="loadChildCatalogues($event)">
      </app-moder-items-item-select-parent-tree>
    </li>
  </ul>
  <app-paginator [data]="paginator" *ngIf="paginator"></app-paginator>
</div>

<div class="card card-body" *ngIf="tab === 'brands'">
  <input type="text" [(ngModel)]="search" (input)="doSearch()" class="form-control mb-4" placeholder="Type to search ..." autofocus />
  <table class="table">
    <tbody>
      <tr>
        <td [ngStyle]="{width: 100/6 + '%'}" *ngFor="let chunk of brands">
          <ng-container *ngFor="let item of chunk">
            <a href="" (click)="select(item)" [innerHTML]="item.name_html"></a>
            <br />
          </ng-container>
        </td>
      </tr>
    </tbody>
  </table>
  <app-paginator [data]="paginator" *ngIf="paginator"></app-paginator>
</div>

<div class="card card-body" *ngIf="tab === 'categories'">
  <ul>
    <li class="car-node" *ngFor="let citem of categories">
      <app-moder-items-item-select-parent-tree-item [item]="citem" (selected)="select($event)" (loadChilds)="loadChildCategories($event)"
                                                    [disableItemID]="item.id">
      </app-moder-items-item-select-parent-tree-item>
    </li>
  </ul>
  <app-paginator [data]="paginator" *ngIf="paginator"></app-paginator>
</div>

<div class="card card-body" *ngIf="tab === 'twins'">
  <table class="table" *ngIf="!brandID">
    <tbody>
      <tr>
        <td [ngStyle]="{width: 100/6 + '%'}" *ngFor="let chunk of brands">
          <ng-container *ngFor="let item of chunk">
            <a routerLink="." [queryParams]="{brand_id: item.id}" queryParamsHandling="merge" [innerHTML]="item.name_html"></a>
            <br />
          </ng-container>
        </td>
      </tr>
    </tbody>
  </table>
  <ul *ngIf="brandID">
    <li class="car-node" *ngFor="let citem of items">
      <app-moder-items-item-select-parent-tree-item [item]="citem" (selected)="select($event)" [disableItemID]="item.id">
      </app-moder-items-item-select-parent-tree-item>
    </li>
  </ul>
  <app-paginator [data]="paginator" *ngIf="paginator"></app-paginator>
</div>

<div class="card card-body" *ngIf="tab === 'factories'">
  <ul>
    <li class="car-node" *ngFor="let citem of factories">
      <app-moder-items-item-select-parent-tree-item [item]="citem" (selected)="select($event)" [disableItemID]="item.id">
      </app-moder-items-item-select-parent-tree-item>
    </li>
  </ul>
  <app-paginator [data]="paginator" *ngIf="paginator"></app-paginator>
</div>
