@if (item) {
  <a [routerLink]="['/moder/items/item', item.id]" [textContent]="item.name"></a>
  @if (item.childs.length) {
    <ul>
      @for (item of item.childs; track item.id) {
        <li [class.tuning]="item.type === 1" [class.sport]="item.type === 2">
          @if (item.type === 1) {
            <span i18n>Related</span>
          } @else if (item.type === 2) {
            <span i18n>Sport</span>
          }
          <app-moder-items-item-tree [item]="item"></app-moder-items-item-tree>
        </li>
      }
    </ul>
  }
}
