<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/" i18n>Index page</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/map" i18n>Map</a>
    </li>
    <li class="breadcrumb-item" *ngIf="factory">
      <a [routerLink]="['/factories', factory.id]" [innerHTML]="factory.name_html"></a>
    </li>
  </ol>
</nav>

<div class="page-header">
  <h1 i18n>Products</h1>
</div>

<ul class="nav nav-pills" style="margin-bottom:10px" *ngIf="factory">

  <a class="nav-link" [routerLink]="['/factories', factory.id]" [innerHTML]="factory.name_html"></a>
  <a class="nav-link active" [routerLink]="['/factories', factory.id, 'items']" i18n>Products</a>
  <ng-container *ngIf="isModer$|async as isModer">
    <a *ngIf="isModer" class="nav-link" [routerLink]="['/moder/items/item', factory.id]">
      <i class="fa fa-cog" aria-hidden="true"></i>
      <ng-container i18n>edit</ng-container>
    </a>
  </ng-container>
</ul>

<app-catalogue-list-item [item]="item" *ngFor="let item of items"></app-catalogue-list-item>

<app-paginator [data]="paginator" *ngIf="paginator"></app-paginator>
