<h4>
  <ng-container i18n>Brands</ng-container>
  <small><a routerLink="/brands" i18n>all</a></small>
</h4>

<div class="spinner-border" role="status" *ngIf="!brands">
  <span class="sr-only" i18n>Loading...</span>
</div>

<p class="index-brands" *ngIf="brands">
  <app-index-brands-brand [brand]="brand" *ngFor="let brand of brands.brands"></app-index-brands-brand>
  <ng-container *ngIf="more > 0">
    <ng-container i18n>… and</ng-container>&#xa0;<a routerLink="/brands" i18n="@@more-n-companies">more {more, plural, one {{{more}} company} other {{{more}} companies}}</a>
  </ng-container>
</p>
