<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/" i18n>Index page</a>
    </li>
    <li class="breadcrumb-item" *ngIf="item$|async as item">
      <a routerLink="/" i18n>Specs editor of {{item.name_text}}</a>
    </li>
  </ol>
</nav>

<div class="page-header" *ngIf="item$|async">
  <h1 i18n>Select</h1>
</div>

<div *ngIf="brandID$|async else noBrand">
  <div *ngFor="let item of (items$|async).items">
    <app-cars-select-engine-tree-item [item]="item" (selected)="selectEngine(itemID, $event)" *ngIf="itemID$|async as itemID">
    </app-cars-select-engine-tree-item>
  </div>
</div>

<ng-template #loading>
  <div class="spinner-border" role="status"><span class="visually-hidden" i18n>Loading…</span></div>
</ng-template>

<ng-template #noBrand>
  <div class="mb-3">
    <input type="text" [(ngModel)]="search" (input)="onInput()" class="form-control" placeholder="Type to search …" i18n-placeholder autofocus />
  </div>

  <ng-container *ngIf="brands$|async as brands; else loading">
    <div class="row">
      <div class="col-md-2" *ngFor="let chunk of brands.items">
        <ng-container *ngFor="let brand of chunk">
          <a routerLink="/cars/select-engine" [queryParams]="{item_id: itemID$|async, brand_id: brand.id}" [textContent]="brand.name_only"></a>
          <br />
        </ng-container>
      </div>
    </div>

    <app-paginator [data]="brands.paginator" *ngIf="brands.paginator"></app-paginator>
  </ng-container>
</ng-template>
