<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/" i18n>Index page</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/donate" i18n>Donate</a>
    </li>
  </ol>
</nav>

<div class="page-header">
  <h1 i18n>Theme of the day</h1>
</div>

<app-markdown [markdown]="'donate/vod/text'|translate"></app-markdown>

<h1 i18n>1. Choose a date</h1>
<div class="card card-body mb-4">
  <ul>
    <li *ngFor="let date of dates">
      <span *ngIf="date.free">
        <span *ngIf="date.value == selectedDate">
          <strong [textContent]="date.name"></strong>
          <span class="fa fa-check" aria-hidden="true"></span>
        </span>
        <span *ngIf="date.value != selectedDate">
          <a routerLink="." [queryParams]="{date: date.value}" queryParamsHandling="merge" [textContent]="date.name"></a>
        </span>
      </span>

      <span *ngIf="!date.free">
        <span class="muted" [textContent]="date.name"></span>
        (<ng-container i18n>busy</ng-container>)
      </span>
    </li>
  </ul>
</div>

<h1 i18n>2. Choose vehicle</h1>
<div class="card card-body mb-4">

  <app-markdown [markdown]="'donate/vod/select-item-text'|translate"></app-markdown>

  <p *ngIf="selectedItem">
    <ng-container i18n>Selection:</ng-container>
    <strong [innerHTML]="selectedItem.name_html"></strong>
  </p>

  <a routerLink="/donate/vod/select" [queryParams]="{date: selectedDate, anonymous: anonymous ? 1 : null}" class="btn btn-primary btn-lg"
    i18n>Choose ...</a>
</div>

<h1 i18n>3. Preview</h1>

<div class="card card-body mb-4">
  <div class="btn-group">
    <a routerLink="." [queryParams]="{anonymous: '1'}" queryParamsHandling="merge" class="btn btn-secondary" [class.active]="anonymous" i18n>Anonymously</a>
    <a routerLink="." [queryParams]="{anonymous: null}" queryParamsHandling="merge" class="btn btn-secondary" [class.active]="!anonymous" [class.disabled]="!userID" i18n>With the name (registration required)</a>
  </div>
</div>

<app-item-of-day *ngIf="selectedItem" [item]="selectedItem" [user]="anonymous ? null : user"></app-item-of-day>

<h1 i18n>4. Make a donation</h1>

<form ngNoForm method="post" action="https://money.yandex.ru/quickpay/confirm.xml" (ngSubmit)="submit($event)" class="card card-body mb-4">
  <div *ngIf="selectedDate && selectedItem">
    <input type="hidden" *ngFor="let param of formParams" [name]="param.name" [value]="param.value" />
    <div class="form-group">
      <textarea name="comment" i18n-placeholder placeholder="Your wishes" class="form-control" maxlength="200"></textarea>
    </div>
  </div>
  <p>
    <ng-container i18n>Price:</ng-container>
    <strong>{{sum}}<ng-container i18n>rubles</ng-container></strong>
    (<span i18n>about {{'$'+(sum / 59.70).toFixed(2)}}</span>)
  </p>
  <div *ngIf="selectedDate && selectedItem">
    <div class="form-group">
      <div class="btn-group btn-group-toggle" ngbRadioGroup name="paymentType" [(ngModel)]="paymentType">
        <label class="btn btn-secondary" ngbButtonLabel>
          <input type="radio" ngbButton name="paymentType" value="AC" autocomplete="off">
          <span class="fa fa-credit-card" aria-hidden="true"></span>
          <ng-container i18n>Credit card</ng-container>
        </label>
        <label class="btn btn-secondary" ngbButtonLabel>
          <input type="radio" ngbButton name="paymentType" value="MC" autocomplete="off">
          <span class="fa fa-mobile" aria-hidden="true"></span>
          <ng-container i18n>Mobile operator account</ng-container>
        </label>
        <label class="btn btn-secondary" ngbButtonLabel>
          <input type="radio" ngbButton name="paymentType" value="PC" autocomplete="off">
          <ng-container i18n>Yandex.Money</ng-container>
        </label>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" i18n>Pay</button>
  </div>
  <div *ngIf="!selectedDate || !selectedItem">
    <button class="btn btn-secondary" disabled>
      <span class="fa fa-credit-card" aria-hidden="true"></span>
      <ng-container i18n>Credit card</ng-container>
    </button>
    <button class="btn btn-secondary" disabled>
      <span class="fa fa-mobile" aria-hidden="true"></span>
      <ng-container i18n>Mobile operator account</ng-container>
    </button>
    <button class="btn btn-secondary" disabled i18n>Yandex.Money</button>
  </div>
</form>
