<span [innerHTML]="item.nameHTML"></span>
<sup class="design-brand mx-2" *ngIf="item.design">{{'ng/carlist/designed by'|translate}}
  <a [routerLink]="item.design.route" [textContent]="item.design.name"></a>
</sup>

<small *ngIf="item.produced.count > 1" class="ml-2">
  <span *ngIf="item.produced.exactly" translate [translateParams]="{count: item.produced.count}">ng/carlist/produced/%1$s</span>
  <span *ngIf="!item.produced.exactly" translate [translateParams]="{count: item.produced.count}">ng/carlist/produced-about/%1$s</span>
</small>
<small translate *ngIf="item.produced.count == 1" class="ml-2">carlist/produced/one</small>
