<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/" i18n>Index page</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/moder" i18n>Moderator page</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/moder/items" i18n>Items</a>
    </li>
    <li class="breadcrumb-item" *ngIf="item">
      <a [routerLink]="['/moder/items/item', item.id]" [innerHTML]="item.name_html"></a>
    </li>
  </ol>
</nav>

<div class="page-header">
  <h1 i18n>Organize</h1>
</div>

<app-markdown i18n-markdown markdown="Tool for join few vehicles into sub-model"></app-markdown>

<app-item-meta-form class="mb-4" [hidden]="loading > 0" [disableIsGroup]="true" [hideSubmit]="true" [(item)]="newItem"
                    (submited)="submit()"
                    [invalidParams]="invalidParams" [(vehicleTypeIDs)]="vehicleTypeIDs"></app-item-meta-form>

<div class="mb-3 row" [hidden]="loading > 0">
  <label class="col-md-2 col-form-label text-right" i18n>Vehicles</label>
  <div class="col-md-10">
    <div class="checkbox" *ngFor="let child of childs">
      <label>
        <input type="checkbox" [(ngModel)]="child.selected" (change)="childSelected()" />
        <span [innerHTML]="child.item.name_html"></span>
      </label>
    </div>
  </div>
</div>
<div class="mb-3 row">
  <div class="col-md-10 offset-md-2">
    <button type="submit" name="submit" class="btn btn-primary" (click)="submit()" [disabled]="!hasSelectedChild || loading > 0" i18n>Submit</button>
    <span [hidden]="loading <= 0">
      <i class="fa fa-spinner fa-spin fa-fw" aria-hidden="true"></i>
    </span>
  </div>
</div>
