<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/" translate>page/1/name</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/moder" translate>page/67/name</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/moder/items" translate>page/131/name</a>
    </li>
  </ol>
</nav>

<div class="page-header" *ngIf="item">
  <h1>{{'item/type/' + item.item_type_id + '/new-item' | translate}}</h1>
</div>

<p *ngIf="parent">
  {{'moder/vehicle/add/as-submodel'|translate}}
  <span [innerHTML]="parent.name_html"></span>
</p>

<span [hidden]="loading <= 0">
  <i class="fa fa-spinner fa-spin fa-fw"></i>
</span>

<app-item-meta-form [item]="item" (submit)="submit()" [parent]="parent" [vehicleTypeIDs]="vehicleTypeIDs" [invalidParams]="invalidParams"></app-item-meta-form>
