<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/" i18n>Index page</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/moder" i18n>Moderator page</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/moder/items" i18n>Items</a>
    </li>
  </ol>
</nav>

<div class="page-header" *ngIf="item">
  <h1>{{'item/type/' + item.item_type_id + '/new-item' | translate}}</h1>
</div>

<p *ngIf="parent">
  <ng-container i18n>As submodel</ng-container>
  <span [innerHTML]="parent.name_html"></span>
</p>

<span [hidden]="loading <= 0">
  <i class="fa fa-spinner fa-spin fa-fw" aria-hidden="true"></i>
</span>

<app-item-meta-form [item]="item" (submited)="submit()" [parent]="parent" [vehicleTypeIDs]="vehicleTypeIDs" [invalidParams]="invalidParams"></app-item-meta-form>
