<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/" i18n>Index page</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/moder" i18n>Moderator page</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/moder/items" i18n>Items</a>
    </li>
  </ol>
</nav>

@if (itemType$ | async; as itemTypeName) {
  <div class="page-header">
    <h1>{{ itemTypeName }}</h1>
  </div>
}

@if (parent$ | async; as parent) {
  <p>
    <ng-container i18n>As submodel</ng-container>
    <span [innerHTML]="parent.nameHtml"></span>
  </p>
}

@if (item$ | async; as item) {
  @if (parentIsConcept$ | async; as parentIsConcept) {
    @if (vehicleTypeIDs$ | async; as vehicleTypeIDs) {
      <app-item-meta-form
        [item]="item"
        (submitted)="submit(item.item_type_id, $event)"
        [parentIsConcept]="parentIsConcept"
        [vehicleTypeIDs]="vehicleTypeIDs"
        [invalidParams]="invalidParams"
        class="d-block mb-4"
      ></app-item-meta-form>
    }
  }
}
