<ng-container *ngIf="item$ | async as item">
  <span class="text-muted" *ngIf="item.type_id === 1" i18n>Related</span>
  <span class="text-muted" *ngIf="item.type_id === 2" i18n>Sport</span>

  <button
    class="btn btn-link d-block text-start"
    *ngIf="item.item.childs_count <= 0"
    (click)="selectItem({itemId: '' + item.item_id, perspectiveId: 0, type: PictureItemType.PICTURE_CONTENT})"
    [innerHTML]="item.item.name_html"
  ></button>
  <div *ngIf="item.item.childs_count > 0">
    <button class="btn btn-link d-block text-start" (click)="toggleItem(item)">
      <i class="bi me-1" [class.bi-plus-circle]="!item.expanded" [class.bi-dash-circle]="item.expanded"></i>
      <span [innerHTML]="item.item.name_html"></span>
    </button>
    <div class="mb-1 ms-4" *ngIf="item.expanded">
      <ng-container *ngIf="childs$ | async as childs; else loading">
        <app-moder-picture-move-item
          [item]="child"
          (selected)="selectItem($event)"
          *ngFor="let child of childs.items"
        ></app-moder-picture-move-item>
      </ng-container>
      <button
        class="btn btn-link d-block text-start"
        (click)="selectItem({itemId: '' + item.item_id, perspectiveId: 0, type: PictureItemType.PICTURE_CONTENT})"
        i18n
      >
        other modification
      </button>
    </div>
  </div>
</ng-container>

<ng-template #loading>
  <span class="spinner-border" role="status"><span class="visually-hidden" i18n>Loading…</span></span>
</ng-template>
