<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/" i18n>Index page</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/moder" i18n>Moderator page</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/moder/items" i18n>Items</a>
    </li>
    @if (item) {
      <li class="breadcrumb-item">
        <a [routerLink]="['/moder/items/item', item.id]" [innerHTML]="item.nameHtml"></a>
      </li>
    }
  </ol>
</nav>

<div class="page-header">
  <h1>Item parent</h1>
</div>

@if (parent && item) {
  <p>
    <a
      [routerLink]="['/moder/items/item', parent.id]"
      [queryParams]="{tab: 'catalogue'}"
      [innerHTML]="parent.nameHtml"
    ></a>
    &rarr;
    <a [routerLink]="['/moder/items/item', item.id]" [queryParams]="{tab: 'catalogue'}" [innerHTML]="item.nameHtml"></a>
  </p>
}

@if (itemParent) {
  <form method="post" class="form-horizontal" (submit)="save()">
    <div class="mb-3 row">
      <label class="col-md-2 col-form-label">Catname</label>
      <div class="col-md-10">
        <input type="text" name="catname" maxlength="150" [(ngModel)]="itemParent.catname" class="form-control" />
      </div>
    </div>
    <div class="mb-3 row">
      <label class="col-md-2 col-form-label" for="type">Type</label>
      <div class="col-md-10">
        <select name="type_id" class="form-select" [(ngModel)]="itemParent.type_id" id="type">
          @for (option of typeOptions; track option.value) {
            <option [value]="option.value">{{ option.name }}</option>
          }
        </select>
      </div>
    </div>
    @for (language of languages; track language.language) {
      <div class="mb-3 row">
        <label class="col-md-2 col-form-label">{{ language.language.toUpperCase() }} Name</label>
        <div class="col-md-10">
          <input
            type="text"
            [class.is-invalid]="language.invalidParams"
            [name]="'name' + language.language"
            maxlength="255"
            class="form-control"
            [(ngModel)]="language.name"
          />
          @for (message of language.invalidParams || {} | invalidParams: 'name'; track message) {
            <p [textContent]="message" class="invalid-feedback"></p>
          }
        </div>
      </div>
    }
    <div class="row">
      <div class="col-md-10 offset-md-2">
        <input type="submit" name="submit" class="btn btn-primary" value="Отправить" />
      </div>
    </div>
  </form>
}
