<header class="mb-4" *ngIf="brand$|async as brand">
  <div class="p-5 mb-4 rounded-3 brand-hero-unit clearfix">
    <!-- [translate-attr-alt]="''"  sprintf($this->translate('catalogue/brand/logo-of-%s'), $this->brand['name']) 'format' => 'logo', -->
    <img [src]="brand.logo120.src" alt="" class="logo" *ngIf="brand.logo120" loading="lazy" />
    <div class="content">
      <h1 class="display-4">{{brand.name_text}}</h1>
      <p *ngIf="brand.full_name && brand.full_name !== brand.name_only" class="lead">({{brand.full_name}})</p>
      <ng-container *ngIf="brand.description">
        <hr class="my-4" />
        <app-markdown [markdown]="brand.description"></app-markdown>
      </ng-container>
    </div>
  </div>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/', brand.catname, 'cars']">
        <i class="bi bi-sort-down-alt" aria-hidden="true"></i>
        <ng-container i18n>Chronological</ng-container>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/', brand.catname, 'recent']">
        <i class="bi bi-grid-3x2-gap-fill" aria-hidden="true"></i>
        <ng-container i18n>New pictures</ng-container>
      </a>
    </li>
    <li class="nav-item" *ngIf="brand.descendant_twins_groups_count">
      <a class="nav-link" [routerLink]="['/twins', brand.catname]">
        <i class="bi bi-circle-half" aria-hidden="true"></i> <ng-container i18n>Twins</ng-container>
        <span class="badge rounded-pill bg-secondary">{{brand.descendant_twins_groups_count}}</span>
      </a>
    </li>
    <li class="nav-item" *ngIf="brand.mosts_active">
      <a class="nav-link" [routerLink]="['/', brand.catname, 'mosts']">
        <i class="bi bi-sort-down" aria-hidden="true"></i> <ng-container i18n>Mostly</ng-container>
      </a>
    </li>
    <li class="nav-item" *ngIf="brand.inbox_pictures_count">
      <a class="nav-link" routerLink="/moder/pictures" [queryParams]="{status: 'inbox', item_id: brand.id}">
        <i class="bi bi-grid-3x2-gap-fill" aria-hidden="true"></i>
        <ng-container i18n>Brand inbox</ng-container>
        <span class="badge rounded-pill bg-secondary">{{brand.inbox_pictures_count}}</span>
      </a>
    </li>
    <li class="nav-item" *ngIf="brand.comments_attentions_count">
      <a class="nav-link" routerLink="/moder/comments" [queryParams]="{moderator_attention: '1', pictures_of_item_id: brand.id}">
        <i class="bi bi-chat-fill" aria-hidden="true"></i>
        <ng-container i18n>comments</ng-container>
        <span class="badge rounded-pill bg-secondary">{{brand.comments_attentions_count}}</span>
      </a>
    </li>
    <ng-container *ngIf="isModer$|async as isModer">
      <li class="nav-item" *ngIf="isModer">
        <a class="nav-link" [routerLink]="['/moder/items/item', brand.id]">
          <i class="bi bi-gear-fill" aria-hidden="true"></i>
          <ng-container i18n>edit</ng-container>
        </a>
      </li>
    </ng-container>
  </ul>
</header>

<ng-container *ngFor="let section of sections$|async">
  <div class="card mb-4" *ngIf="section.halfChuks.length">
    <div class="card-body">
      <h5 class="card-title" *ngIf="section.name">{{section.name}}</h5>
      <div class="row">
        <div class="col-12 col-md-6" *ngFor="let halfChunk of section.halfChuks">
          <div class="row">
            <div class="col-12 col-lg-6 nav" *ngFor="let chunk of halfChunk">
              <a class="nav-link" [routerLink]="group.routerLink" *ngFor="let group of chunk">
                {{group.name}}
                <span *ngIf="group.count" class="badge rounded-pill bg-secondary">{{group.count}}</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <a [routerLink]="section.routerLink" i18n *ngIf="section.routerLink && section.name">details</a>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="factories$|async as factories">
  <section *ngIf="factories.length">
    <h2 i18n>Factories</h2>
    <div class="row">
      <div class="col-6 col-lg-3" *ngFor="let factory of factories">
        <a class="d-block rounded mb-4" [routerLink]="['/factories', factory.id]" *ngIf="factory.exact_picture && factory.exact_picture.thumb_medium">
          <img class="rounded w-100 border border-light" [src]="factory.exact_picture.thumb_medium.src" alt="" loading="lazy" />
        </a>
        <p><a [routerLink]="['/factories', factory.id]" [innerHTML]="factory.name_html"></a></p>
      </div>
    </div>
  </section>
</ng-container>

<ng-container *ngIf="pictures$|async as pictures">
  <section *ngIf="pictures.length">
    <h2 i18n>Popular images</h2>
    <div class="row" *ngFor="let chunk of pictures">
      <div class="col-sm-3" *ngFor="let item of chunk">
        <app-thumbnail [picture]="item.picture" [route]="item.route"></app-thumbnail>
      </div>
    </div>
  </section>
</ng-container>

<ng-container *ngIf="links$|async as links">
  <section *ngIf="links.official.length + links.club.length + links.other.length > 0">
    <h2 i18n>Links</h2>
    <p *ngIf="links.official.length > 0">
      <strong i18n>Official websites</strong><br />
      <ng-container *ngFor="let link of links.official">
        <a [href]="link.url">{{link.name ? link.name : link.url}}</a><br />
      </ng-container>
    </p>
    <p *ngIf="links.club.length > 0">
      <strong i18n>Car clubs</strong><br />
      <ng-container *ngFor="let link of links.club">
        <a [href]="link.url">{{link.name ? link.name : link.url}}</a><br />
      </ng-container>
    </p>
    <p *ngIf="links.other.length > 0">
      <strong i18n>Other</strong><br />
      <ng-container *ngFor="let link of links.other">
        <a [href]="link.url">{{link.name ? link.name : link.url}}</a><br />
      </ng-container>
    </p>
  </section>
</ng-container>
