<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/" i18n>Index page</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/map" i18n>Map</a>
    </li>
  </ol>
</nav>

<ng-container *ngIf="item$|async as factory">
  <div class="page-header">
    <h1>{{factory.name}}</h1>
  </div>

  <div class="nav nav-pills mb-3" *ngIf="factory">
    <a class="nav-link active" routerLink="." [innerHTML]="factory.name_html"></a>
    <a class="nav-link" [routerLink]="['/factories', factory.id, 'items']" i18n>Products</a>
    <ng-container *ngIf="isModer$|async as isModer">
      <a class="nav-link" [routerLink]="['/moder/items/item', factory.id]" *ngIf="isModer">
        <i class="fa fa-cog" aria-hidden="true"></i>
        <ng-container i18n>edit</ng-container>
      </a>
    </ng-container>
  </div>

  <div style="height:300px" class="mb-4 w-100" *ngIf="map$|async as map" leaflet [leafletOptions]="map.options"
    [leafletLayers]="map.markers"></div>

  <app-markdown class="card card-body" *ngIf="factory && factory.description" [markdown]="factory.description"></app-markdown>
</ng-container>

<ng-container *ngIf="pictures$|async as pictures">
  <div *ngIf="pictures.pictures.length > 0">
    <h3 i18n>Pictures</h3>
    <div class="row">
      <div class="col-6 col-md-4 col-lg-3" *ngFor="let picture of pictures.pictures">
        <app-thumbnail [picture]="picture" [route]="['/picture', picture.identity]"></app-thumbnail>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="item$|async as factory">
  <div *ngIf="factory.related_group_pictures && factory.related_group_pictures.length > 0">
    <h3 i18n>Products</h3>
    <div class="row">
      <div class="col-6 col-md-4 col-lg-3" *ngFor="let item of factory.related_group_pictures">
        <div class="card mb-4">
          <a [routerLink]="item.route">
            <img class="card-img-top" [src]="item.src" alt="" [title]="item.name" loading="lazy" />
          </a>
          <div class="card-body">
            <h5 class="card-title">
              <a [routerLink]="item.route" [textContent]="item.name"></a>
            </h5>
          </div>
        </div>
      </div>
    </div>
    <p>
      <a [routerLink]="['/factories', factory.id, 'items']" i18n>details</a>
    </p>
  </div>
</ng-container>
