<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/" translate>page/1/name</a>
    </li>
    <li class="breadcrumb-item" *ngIf="brand">
      <a [routerLink]="['/', brand.catname]" [innerHTML]="brand.name_html"></a>
    </li>
    <li class="breadcrumb-item" *ngIf="brand && data">
      <a [routerLink]="['/', brand.catname, data.catname]">{{data.picture_page.breadcrumbs|translate}}</a>
    </li>
  </ol>
</nav>

<div>
  <app-picture
    *ngIf="picture && brand && data"
    [picture]="picture"
    [prefix]="['/', brand.catname, data.catname]"
    [galleryRoute]="['/', brand.catname, data.catname, 'gallery', picture.identity]"
    (changed)="reloadPicture()"
  ></app-picture>

  <div id="comments" *ngIf="picture">
    <app-comments [typeID]="1" [itemID]="picture.id" [limit]="null"></app-comments>
  </div>

</div>
