@if (item) {
  @if (item.full) {
    <img
      alt=""
      [src]="item.full.src"
      [class.crop-mode]="cropMode"
      class="full"
      [ngStyle]="fullStyle"
      (load)="fullLoaded()"
    />
  }
  @if (item.crop) {
    <img
      alt=""
      [src]="item.crop.src"
      [class.crop-mode]="cropMode"
      class="crop"
      [ngStyle]="cropStyle"
      (load)="cropLoaded()"
    />
  }
  @if (item) {
    @for (area of item.areas; track area) {
      <app-gallery-carousel-item-area [area]="area" [styles]="area.styles"> </app-gallery-carousel-item-area>
    }

    <div class="carousel-caption">
      <h3 [innerHTML]="item.name"></h3>
    </div>

    <a class="download carousel-control" role="button" [href]="item.sourceUrl">
      <i class="bi bi-download" aria-hidden="true"></i>
      <div class="badge rounded-pill text-bg-info text-dark">{{ item.filesize | bytes: 2 }}</div>
    </a>

    <a class="comments carousel-control" role="button" [routerLink]="prefix.concat([item.identity])">
      <i class="bi bi-chat-fill" aria-hidden="true"></i>
      @if (item.messages) {
        <div class="badge rounded-pill text-bg-info text-dark">
          {{ item.messages - item.newMessages }}
          @if (item.newMessages) {
            <span>+{{ item.newMessages }}</span>
          }
        </div>
      }
    </a>

    <a class="details carousel-control" role="button" [routerLink]="prefix.concat([item.identity])">
      <i class="bi bi-card-image" aria-hidden="true"></i>
    </a>
  }
  @if (cropLoading || fullLoading) {
    <div class="loading-icon">
      <div class="spinner-border" role="status"><span class="visually-hidden" i18n>Loading…</span></div>
    </div>
  }
  @if (item && item.crop && !cropLoading && !fullLoading) {
    <span class="carousel-control-full" (click)="toggleCrop()"
      ><i class="bi bi-arrows-fullscreen" aria-hidden="true"></i
    ></span>
  }
}
