<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/" i18n>Index page</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/category" i18n>Categories</a>
    </li>
    <li class="breadcrumb-item" *ngFor="let item of path">
      <a [routerLink]="item.routerLink" [innerHtml]="item.item.name_html" *ngIf="item.item.item_type_id !== 3"></a>
      <div ngbDropdown class="d-inline-block" placement="bottom-right" (openChange)="dropdownOpenChange(item)" *ngIf="item.item.item_type_id === 3">
        <a [routerLink]="item.routerLink" [innerHtml]="item.item.name_html"></a>
        <a ngbDropdownToggle style="cursor:pointer"></a>
        <div ngbDropdownMenu>
          <div class="dropdown-item" *ngIf="!item.loaded">
            <div class="spinner-border" role="status"><span class="visually-hidden" i18n>Loading…</span></div>
          </div>
          <a [routerLink]="['/category', child.catname]" class="dropdown-item" [class.active]="child.id === item.item.id" [innerHTML]="child.name_html" *ngFor="let child of item.childs"></a>
        </div>
      </div>
    </li>
  </ol>
</nav>
<div class="page-header" *ngIf="current">
  <h1 i18n>Pictures</h1>
</div>

<div *ngIf="category">

  <div class="row" *ngFor="let chunk of pictures">
    <div class="col-sm-3" *ngFor="let i of chunk">
      <app-thumbnail [picture]="i.picture" [route]="i.route"></app-thumbnail>
    </div>
  </div>

  <app-paginator [data]="paginator" *ngIf="paginator"></app-paginator>
</div>
