<ng-template #loading>
  <div class="spinner-border" role="status"><span class="visually-hidden" i18n>Loading…</span></div>
</ng-template>

<div class="car item-list-item" *ngIf="item$ | async as item; else loading">
  <h3>
    <span [innerHTML]="item.name_html"></span>
    <sup class="design-brand mx-2" *ngIf="item.design"
      ><ng-container i18n>designed by</ng-container>
      <a [routerLink]="item.design.route" [textContent]="item.design.name"></a>
    </sup>

    <small *ngIf="item.produced > 1" class="ms-2">
      <span *ngIf="item.produced_exactly" i18n="@@n-produced"
        >{item.produced, plural, one {Produced in {{ item.produced }} copy} other {Produced in
        {{ item.produced }} copies}}</span
      >
      <span *ngIf="!item.produced_exactly" i18n="@@n-produced-about"
        >{item.produced, plural, one {Produced in about {{ item.produced }} copy} other {Produced in about
        {{ item.produced }} copies}}</span
      >
    </small>
    <small i18n *ngIf="item.produced === 1" class="ms-2">Produced in a single copy</small>
  </h3>

  <h4 [textContent]="item.name_default" *ngIf="item.name_default"></h4>

  <ng-container *ngIf="pictures$ | async as pictures">
    <div class="row" *ngIf="(havePhoto$ | async) && pictures.length > 4">
      <div class="col-12 col-lg-6" *ngFor="let picture of pictures.slice(0, 1)">
        <a [routerLink]="picture.route" *ngIf="picture.picture && picture.thumb" class="d-block rounded mb-4">
          <img
            [src]="picture.thumb.src"
            [alt]="picture.picture.name_text"
            [title]="picture.picture.name_text"
            class="rounded w-100 border border-light"
            loading="lazy"
          />
        </a>
        <span *ngIf="!picture">&#xa0;</span>
      </div>
      <div class="col-12 col-lg-6">
        <div class="row">
          <div class="col-6" *ngFor="let picture of pictures.slice(1)">
            <a [routerLink]="picture.route" *ngIf="picture.picture && picture.thumb" class="d-block rounded mb-4">
              <img
                [src]="picture.thumb.src"
                [alt]="picture.picture.name_text"
                [title]="picture.picture.name_text"
                class="rounded w-100 border border-light"
                loading="lazy"
              />
            </a>
            <span *ngIf="!picture">&#xa0;</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="(havePhoto$ | async) && pictures.length <= 4">
      <div class="col-6 col-lg-3" *ngFor="let picture of pictures">
        <a [routerLink]="picture.route" *ngIf="picture.picture && picture.thumb" class="d-block rounded mb-4">
          <img
            [src]="picture.thumb.src"
            [alt]="picture.picture.name_text"
            [title]="picture.picture.name_text"
            class="rounded w-100 border border-light"
            loading="lazy"
          />
        </a>
        <span *ngIf="!picture">&#xa0;</span>
      </div>
    </div>
  </ng-container>

  <div class="row" *ngIf="(havePhoto$ | async) === false && (canHavePhoto$ | async)">
    <div class="col-6 col-lg-3">
      <div class="no-photo rounded w-100 border border-light mb-4" title="No photos available" i18n-title>
        <a
          routerLink="/upload"
          [queryParams]="{item_id: item.id}"
          title="Add photo"
          i18n-title
          class="bi bi-plus-circle text-success"
          aria-hidden="true"
        ></a>
        <span class="bi bi-camera fs-1" aria-hidden="true"></span>
      </div>
    </div>
  </div>

  <app-markdown
    class="text"
    *ngIf="item.description && item.description.length"
    [markdown]="item.description"
  ></app-markdown>

  <div *ngIf="item.engine_vehicles && item.engine_vehicles.length">
    <p i18n>Mounted on:</p>
    <ul>
      <li *ngFor="let vehicle of item.engine_vehicles">
        <a [routerLink]="vehicle.route" [innerHTML]="vehicle.name_html"></a>
      </li>
    </ul>
  </div>

  <ul class="list-inline" ngPreserveWhitespaces *ngIf="parentRouterLink$ | async as parentRouterLink">
    <li *ngIf="(item.has_text || item.childs_count) && item.item_type_id === 3" class="list-inline-item">
      <i class="bi bi-text-left me-1" aria-hidden="true"></i>
      <a [routerLink]="parentRouterLink">
        <ng-container i18n>details</ng-container>
        <span *ngIf="item.childs_count > 1"> ({{ item.childs_count }})</span>
      </a>
    </li>

    <li *ngIf="(item.has_text || item.childs_count) && item.item_type_id !== 3" class="list-inline-item">
      <i class="bi bi-text-left me-1" aria-hidden="true"></i>
      <a [routerLink]="parentRouterLink">
        <ng-container i18n>details</ng-container>
        <span *ngIf="item.childs_count > 1"> ({{ item.childs_count }})</span>
      </a>
    </li>

    <li *ngIf="item.item_type_id === 8" class="list-inline-item">
      <i class="bi bi-text-left me-1" aria-hidden="true"></i>
      <a [routerLink]="['/persons', item.id]" i18n>details</a>
    </li>

    <li *ngIf="item.accepted_pictures_count > 4 && item.item_type_id === 3" class="list-inline-item">
      <span class="bi bi-grid-3x2-gap-fill me-1" aria-hidden="true"></span>
      <a [routerLink]="parentRouterLink.concat(['pictures'])"
        ><ng-container i18n>all pictures</ng-container> ({{ item.accepted_pictures_count }})</a
      >
    </li>

    <li *ngIf="item.accepted_pictures_count > 4 && item.item_type_id !== 3" class="list-inline-item">
      <span class="bi bi-grid-3x2-gap-fill me-1" aria-hidden="true"></span>
      <a [routerLink]="parentRouterLink.concat(['pictures'])"
        ><ng-container i18n>all pictures</ng-container> ({{ item.accepted_pictures_count }})</a
      >
    </li>

    <ng-container *ngIf="isModer$ | async as isModer">
      <li *ngIf="isModer" class="list-inline-item">
        <i class="bi bi-gear-fill me-1" aria-hidden="true"></i>
        <a [routerLink]="['/moder/items/item', item.id]" i18n>edit</a>
      </li>
    </ng-container>

    <li *ngIf="item.can_edit_specs" class="list-inline-item">
      <i class="bi bi-pencil-fill me-1" aria-hidden="true"></i>
      <a routerLink="/cars/specifications-editor" [queryParams]="{item_id: item.id}" i18n>edit specs</a>
    </li>
  </ul>
</div>
