<ng-template #popover>
    <span [hidden]="!loading">
      <i class="fa fa-spinner fa-spin fa-fw" aria-hidden="true"></i>
    </span>
  <div [innerHTML]="html"></div>
</ng-template>
<span>
  <a [href]="brand.url">{{brand.name}}</a>
  <span class="count">({{brand.cars_count - brand.new_cars_count}}<span *ngIf="brand.new_cars_count > 0"
    [ngbPopover]="popover" triggers="mouseenter:mouseleave" (shown)="shown()" container="body"
    [popoverTitle]="'brands/new-cars-of-brand'|translate:{brand: brand.name}">+{{brand.new_cars_count}}</span>)</span>
</span>
