<div class="card card-body">
  <input
    type="text"
    #brandsSearch
    (input)="doSearch(brandsSearch.value)"
    class="form-control mb-4"
    placeholder="Type to search …"
    i18n-placeholder
    autofocus
  />
  @if (brands$ | async; as response) {
    <div class="row">
      @for (chunk of response.items; track chunk) {
        <div class="col-2">
          @for (item of chunk; track item.id) {
            <a href="" (click)="onSelect(item.id)" [innerHTML]="item.nameHtml"></a>
            <br />
          }
        </div>
      }
    </div>
    <app-paginator [data]="response.paginator"></app-paginator>
  }
</div>
