<div class="modal-content">
  <div class="modal-header">
    <h3 class="modal-title" translate>moder/items/filter/vehicle-type</h3>
    <a class="close" (click)="activeModal.dismiss()">×</a>
  </div>
  <div class="modal-body">
    <div class="mb-3" *ngFor="let type of types">
      <button class="btn d-block" (click)="toggle(type.id)" [class.btn-success]="isActive(type.id)" [class.btn-outline-secondary]="!isActive(type.id)">{{type.name|translate}}</button>
      <div *ngIf="type.childs.length &gt; 0" class="mb-3 ml-4">
        <ng-container *ngFor="let subtype of type.childs">
          <button class="btn btn-sm" [class.d-block]="subtype.childs.length &gt; 0" (click)="toggle(subtype.id)" [class.btn-success]="isActive(subtype.id)" [class.btn-outline-secondary]="!isActive(subtype.id)">{{subtype.name|translate}}</button>
          <div *ngIf="subtype.childs.length &gt; 0" class="mb-3 ml-4">
            <button class="btn btn-sm" (click)="toggle(subsubtype.id)" [class.btn-success]="isActive(subsubtype.id)" [class.btn-outline-secondary]="!isActive(subsubtype.id)"  *ngFor="let subsubtype of subtype.childs">{{subsubtype.name|translate}}</button>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" (click)="activeModal.close()" translate>dialog/close</button>
  </div>
</div>
