<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/" i18n>Index page</a>
    </li>
  </ol>
</nav>

<div class="row">
  <div class="col-lg-8 mb-4 order-2">
    <div class="page-header">
      <h1 i18n>Profile</h1>
    </div>

    <h2 i18n>Personal info</h2>
    <div class="card card-body mb-4">
      <p>{{ user.name }} (<a [href]="changeProfileUrl" i18n>Change</a>)</p>
    </div>

    <h2 i18n>Photo</h2>
    <div class="card card-body mb-4">
      <app-markdown
        i18n-markdown
        markdown="You can upload photo or use [Gravatar](http://gravatar.com/)"
      ></app-markdown>
      <div *ngIf="photo">
        <img alt="" [src]="photo.src" class="mb-4" />
        <p
          *ngFor="let message of photoInvalidParams | invalidParams : 'file'"
          [textContent]="message"
          class="invalid-feedback"
          style="display: block"
        ></p>
      </div>
      <div class="row">
        <div class="col-6">
          <input type="file" accept="image/*" #input class="form-control" (change)="onChange($event)" />
        </div>
        <div class="col-6">
          <button type="submit" class="btn btn-danger" (click)="resetPhoto()" *ngIf="photo">
            <i class="bi bi-x" aria-hidden="true"></i>
            <ng-container i18n>Delete photo</ng-container>
          </button>
        </div>
      </div>
    </div>

    <h2 i18n>Other</h2>
    <div class="card card-body mb-4">
      <p [hidden]="votesLeft < 0"><ng-container i18n>Votes per day</ng-container>: {{ votesPerDay }}</p>
      <p [hidden]="votesLeft < 0"><ng-container i18n>Votes left</ng-container>: {{ votesLeft }}</p>
      <form method="post" class="form-horizontal" (submit)="sendSettings()">
        <div class="mb-3 row">
          <label class="col-md-3 col-form-label" for="language" i18n>Language</label>
          <div class="col-md-9">
            <select
              name="language"
              id="language"
              class="form-control"
              [class.is-invalid]="settingsInvalidParams.language"
              [(ngModel)]="settings.language"
            >
              <option *ngFor="let language of languages" [value]="language.value">{{ language.name }}</option>
            </select>
            <p
              *ngFor="let message of settingsInvalidParams | invalidParams : 'language'"
              [textContent]="message"
              class="invalid-feedback"
            ></p>
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-md-3 col-form-label" for="timezone" i18n>Timezone</label>
          <div class="col-md-9">
            <select
              name="timezone"
              id="timezone"
              class="form-control"
              [(ngModel)]="settings.timezone"
              [class.is-invalid]="settingsInvalidParams.timezone"
            >
              <option *ngFor="let timezone of timezones$ | async" [value]="timezone">{{ timezone }}</option>
            </select>
            <p
              *ngFor="let message of settingsInvalidParams | invalidParams : 'timezone'"
              [textContent]="message"
              class="invalid-feedback"
            ></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-9 offset-md-3">
            <button type="submit" class="btn btn-primary" i18n>send</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="col-lg-4 mb-4 order-1">
    <app-account-sidebar></app-account-sidebar>
  </div>
</div>
