<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/" translate>page/1/name</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/moder" translate>page/67/name</a>
    </li>
  </ol>
</nav>

<div class="page-header">
  <h1 translate>page/202/name</h1>
</div>

<ul>
  <li *ngFor="let page of pages">
    [{{ page.id }}] {{ page.name }}
    <table style="margin-bottom:20px">
      <tr>
        <td *ngFor="let group of page.groups">
          [{{ group.id }}] {{ group.name }}
          <ul>
            <li *ngFor="let perspective of group.perspectives">
              [{{ perspective.id }}] {{ perspective.name | translate }}
            </li>
          </ul>
        </td>
      </tr>
    </table>
  </li>
</ul>
