<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/" translate>page/1/name</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/persons" translate>page/214/name</a>
    </li>
    <li class="breadcrumb-item" *ngIf="item">
      <a [routerLink]="['/persons', item.id]" [innerHTML]="item.name_html"></a>
    </li>
  </ol>
</nav>

<app-picture [picture]="picture" [prefix]="picturesRouterLink" [galleryRoute]="galleryRouterLink" *ngIf="picture" (changed)="reloadPicture()"></app-picture>

<div id="comments" *ngIf="picture">
  <app-comments [typeID]="1" [itemID]="picture.id" [limit]="null"></app-comments>
</div>
