<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/" i18n>Index page</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/moder" i18n>Moderator page</a>
    </li>
  </ol>
</nav>

<div class="page-header">
  <h1 i18n>Statistics</h1>
</div>

<ul>
  <li class="mb-3" *ngFor="let item of items">
    <h3 [ngSwitch]="item.name">
      <ng-container *ngSwitchCase="'moder/statistics/photos-with-copyrights'" i18n>Photos with copyrights</ng-container>
      <ng-container *ngSwitchCase="'moder/statistics/vehicles-with-4-or-more-photos'" i18n>Vehicles with 4 or more photos</ng-container>
      <ng-container *ngSwitchCase="'moder/statistics/specifications-values'" i18n>Specifications values</ng-container>
      <ng-container *ngSwitchCase="'moder/statistics/brand-logos'" i18n>Brand logotypes</ng-container>
      <ng-container *ngSwitchCase="'moder/statistics/from-years'" i18n>Years of begin production</ng-container>
      <ng-container *ngSwitchCase="'moder/statistics/from-and-to-years'" i18n>Years of begin and end production</ng-container>
      <ng-container *ngSwitchCase="'moder/statistics/from-and-to-years-and-months'" i18n>Years and months of begin and end production</ng-container>
    </h3>
    <p>{{item.value}} / {{item.total}}</p>
    <ngb-progressbar [striped]="true" type="primary" [value]="item.value" [max]="item.total"></ngb-progressbar>
  </li>
</ul>
