<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/" translate>page/1/name</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/moder" translate>page/67/name</a>
    </li>
  </ol>
</nav>

<div class="page-header">
  <h1 translate>page/119/name</h1>
</div>

<ul>
  <li class="mb-3" *ngFor="let item of items">
    <h3 [textContent]="item.name | translate"></h3>
    <p>{{item.value}} / {{item.total}}</p>
    <ngb-progressbar [striped]="true" type="primary" [value]="item.value" [max]="item.total"></ngb-progressbar>
  </li>
</ul>
