<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/" i18n>Index page</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/moder" i18n>Moderator page</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/moder/attrs" i18n>Attributes</a>
    </li>
  </ol>
</nav>

<div class="page-header" *ngIf="attribute$ | async as attribute">
  <h1>{{ getAttrsTranslation(attribute.name) }}</h1>
</div>

<div class="row">
  <div class="col-md-6">
    <h2>
      <span i18n>Attribute parameters</span>
    </h2>
    <div class="card card-body mb-4">
      <div class="form-vertical" *ngIf="attribute$ | async as attribute">
        <div class="mb-3">
          <label i18n>Type</label>
          <ng-container *ngIf="typeOption$ | async as option">{{ option.name }}</ng-container>
        </div>
        <div class="mb-3">
          <label i18n>Precision (for float attribute)</label>
          {{ attribute.precision }}
        </div>
        <div class="mb-3" *ngIf="attribute.unitId !== '0'">
          <label i18n>Unit</label>
          {{ getUnitTranslation(attribute.unitId, 'name') }}
        </div>
        <div class="mb-3" *ngIf="attribute.description">
          <label i18n>Description</label>
          {{ attribute.description }}
        </div>
      </div>
    </div>

    <h2 i18n>Values list (for select)</h2>
    <div class="card card-body mb-4" *ngIf="listOptions$ | async as items">
      <ul>
        <li *ngFor="let item of items">{{ item }}</li>
      </ul>
    </div>
  </div>
  <div class="col-md-6" *ngIf="attributes$ | async as attributes">
    <div *ngIf="attributes.length > 0">
      <h2 i18n id="header">Attributes</h2>
      <div class="card card-body mb-4" *ngIf="typeMap$ | async as typeMap">
        <table class="table" aria-describedby="header">
          <tr>
            <th i18n scope="col">Name</th>
            <th i18n scope="col">Type</th>
            <th i18n scope="col">Unit</th>
          </tr>
          <tr *ngFor="let attribute of attributes">
            <td>
              <a
                [routerLink]="['/moder/attrs/attribute', attribute.id]"
                [textContent]="getAttrsTranslation(attribute.name)"
              ></a>
            </td>
            <td>
              <span *ngIf="attribute.typeId" [textContent]="typeMap[attribute.typeId]"></span>
              <span *ngIf="!attribute.typeId">—</span>
            </td>
            <td>
              <span *ngIf="attribute.unitId" [textContent]="getUnitTranslation(attribute.unitId, 'name')"></span>
              <span *ngIf="!attribute.unitId">—</span>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
