<div class="card card-body">
  @if (twinsBrands$ | async; as response) {
    <div class="row">
      @for (chunk of response.brands; track chunk) {
        <div class="col-2">
          @for (item of chunk; track item.id) {
            <a
              routerLink="."
              [queryParams]="{brand_id: item.id}"
              queryParamsHandling="merge"
              [innerHTML]="item.nameHtml"
            ></a>
            <br />
          }
        </div>
      }
    </div>
    <app-paginator [data]="response.paginator"></app-paginator>
  }
  @if (twins$ | async; as response) {
    <ul>
      @for (item of response.items; track item) {
        <li class="car-node">
          <app-moder-items-item-select-parent-tree-item
            [item]="item"
            (selected)="onSelect($event)"
            [disableItemID]="(itemID$ | async) || ''"
          >
          </app-moder-items-item-select-parent-tree-item>
        </li>
      }
    </ul>
    <app-paginator [data]="response.paginator"></app-paginator>
  }
</div>
