@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "./variables";

.loading-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    form {
        width: 300px;
    }
}

.language-picker {
  font-size: 90%;
  margin-top: 15px;

  a {
      margin-right: 15px;
  }
}

footer .links {
  font-size: $h2-font-size;

  a {
      margin-right: 20px;

      &:link, &:visited {
          color: $body-color;
      }
  }
}

.bottom-line {
  border-top: 1px solid #D1CAB8;
  margin: 50px 0;

  > p {
      text-align: center;
      margin-top: -0.7em;

      strong { background-color: #EDE9DE; padding: 0 50px; }
  }
}

.copyrights {
  background-color: #d1cab8;

  p {
      margin-bottom: 0.25rem;
  }
}
