<ng-container *ngIf="currentUserValues$|async as currentUserValues">
  <ng-container *ngIf="user$|async as user">
    <form class="spec-editor-form" (submit)="saveSpecs(user, item, currentUserValues)" *ngIf="item$|async as item">
      <p class="alert alert-danger" *ngIf="invalidParams && invalidParams.items">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        <ng-container i18n>Data not saved because of error. Details below</ng-container>
      </p>
      <table class="table table-condensed">
        <caption i18n>Attributes</caption>
        <thead>
          <tr>
            <th i18n scope="col">Parameter</th>
            <th i18n scope="col">Your value</th>
            <th i18n scope="col">Current value</th>
            <th i18n scope="col">All values</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let attribute of attributes$|async" [class.subform-header]="!!attribute.childs.length">
            <!-- [class.has-error]="$element.getMessages()" -->
            <td colspan="4" [ngStyle]="{'padding-left': (attribute.deep * 20) + 'px'}" *ngIf="attribute.childs.length">
              <h4>{{getAttrsTranslation(attribute.name)}}</h4>
            </td>
            <td *ngIf="!attribute.childs.length">
              <label [ngStyle]="{'padding-left': (attribute.deep * 20) + 'px'}">{{getAttrsTranslation(attribute.name)}}</label>
            </td>
            <td *ngIf="!attribute.childs.length">
              <div class="input-group input-group-sm" *ngIf="currentUserValues[attribute.id]">
                <!--  [class.has-error]="element.getMessages()" -->
                <div class="input-group-prepend">
                  <button type="button" class="btn btn-secondary btn-sm" (click)="currentUserValues[attribute.id].empty = !currentUserValues[attribute.id].empty"
                    [class.active]="attribute.disabled">
                    <span class="fa fa-remove" aria-hidden="true"></span>
                  </button>
                </div>
                <select class="form-control form-control-sm" *ngIf="attribute.type_id === 5" [name]="'attr'+attribute.id" [(ngModel)]="currentUserValues[attribute.id].value"
                  [disabled]="currentUserValues[attribute.id].empty" [class.is-invalid]="invalidParams && invalidParams.items[attribute.id]">
                  <option *ngFor="let option of attribute.options" [value]="option.id">{{option.name}}</option>
                </select>
                <select class="form-control form-control-sm" *ngIf="(attribute.type_id === 6 || attribute.type_id === 7) && !attribute.is_multiple"
                  [name]="'attr'+attribute.id" [(ngModel)]="currentUserValues[attribute.id].value" [disabled]="currentUserValues[attribute.id].empty"
                  [class.is-invalid]="invalidParams && invalidParams.items[attribute.id]">
                  <option *ngFor="let option of attribute.options" [value]="option.id">{{option.name}}</option>
                </select>
                <select class="form-control form-control-sm" *ngIf="(attribute.type_id === 6 || attribute.type_id === 7) && attribute.is_multiple"
                  [name]="'attr'+attribute.id" [(ngModel)]="currentUserValues[attribute.id].value" [disabled]="currentUserValues[attribute.id].empty"
                  multiple [class.is-invalid]="invalidParams && invalidParams.items[attribute.id]" size="5" style="height: 100%;">
                  <option *ngFor="let option of attribute.options" [value]="option.id">{{option.name}}</option>
                </select>
                <input type="number" *ngIf="attribute.type_id === 2" class="form-control form-control-sm" [name]="'attr'+attribute.id" [(ngModel)]="currentUserValues[attribute.id].value"
                  [disabled]="currentUserValues[attribute.id].empty" min="-2147483649" max="2147483648" [class.is-invalid]="invalidParams && invalidParams.items[attribute.id]"
                />
                <input type="number" *ngIf="attribute.type_id === 3" class="form-control form-control-sm" [name]="'attr'+attribute.id" [(ngModel)]="currentUserValues[attribute.id].value"
                  [step]="getStep(attribute)" min="-2147483649" max="2147483648" [disabled]="currentUserValues[attribute.id].empty"
                  [class.is-invalid]="invalidParams && invalidParams.items[attribute.id]" />
                <input type="text" *ngIf="attribute.type_id === 1" class="form-control form-control-sm" [name]="'attr'+attribute.id" [(ngModel)]="currentUserValues[attribute.id].value"
                  [disabled]="currentUserValues[attribute.id].empty" [class.is-invalid]="invalidParams && invalidParams.items[attribute.id]"
                />
                <span *ngIf="attribute.unit" [title]="getUnitTranslation(attribute.unit.id, 'name')" class="unit input-group-text" [textContent]="getUnitTranslation(attribute.unit.id, 'abbr')"></span>
              </div>
              <p *ngFor="let message of getInvalidParams(attribute.id)" [textContent]="message" class="invalid-feedback" [class.d-block]="invalidParams && invalidParams.items[attribute.id]"></p>
              <small *ngIf="attribute.description">{{getAttrDescriptionTranslation(attribute.description)}}</small>
            </td>
            <td class="actual" *ngIf="!attribute.childs.length">
              <ng-container *ngIf="values$|async as values">
                <div *ngIf="values.has(attribute.id)">
                  <em *ngIf="values.get(attribute.id)['value'] === null" i18n>none</em>
                  <span *ngIf="values.get(attribute.id)['value'] !== null">
                    {{values.get(attribute.id)['value_text']}}
                    <span *ngIf="attribute.unit" class="unit" [title]="getUnitTranslation(attribute.unit.id, 'name')" [textContent]="getUnitTranslation(attribute.unit.id, 'abbr')"></span>
                  </span>
                </div>
              </ng-container>
            </td>
            <td *ngIf="!attribute.childs.length">
              <ng-container *ngIf="userValues$|async as userValues">
                <div *ngFor="let value of userValues.get(attribute.id)">
                  <em *ngIf="value.value_text === null" i18n>none</em>
                  <span *ngIf="value.value_text !== null" [textContent]="value.value_text"></span>
                  <app-user [user]="value.user" *ngIf="value.user"></app-user>
                  <span class="date" *ngIf="value.update_date">[
                    <span [textContent]="value.update_date | amTimeAgo" [ngbTooltip]="value.update_date | date: 'medium'"></span>]</span>
                </div>
              </ng-container>
            </td>
          </tr>
          <tr>
            <td>
              <button type="submit" class="btn btn-success" i18n>Save</button>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </ng-container>
</ng-container>
