@if (user$ | async; as user) {
  @if (item$ | async; as item) {
    @if (form$ | async; as form) {
      <form class="spec-editor-form" (submit)="saveSpecs(user, item, form)">
        @if (invalidParams.size > 0) {
          <p class="alert alert-danger">
            <i class="bi bi-exclamation-triangle" aria-hidden="true"></i>
            <ng-container i18n>Data not saved because of error. Details below</ng-container>
          </p>
        }
        <table class="table table-condensed">
          <caption i18n>
            Attributes
          </caption>
          <thead>
            <tr>
              <th i18n scope="col">Parameter</th>
              <th i18n scope="col">Your value</th>
              <th i18n scope="col">Current value</th>
              <th i18n scope="col">All values</th>
            </tr>
          </thead>
          <tbody>
            @for (control of form.controls; track control) {
              <tr [class.subform-header]="!!control.attr.childs.length">
                @if (control.attr.childs.length > 0) {
                  <td colspan="4" [ngStyle]="{'padding-left': control.attr.deep * 20 + 'px'}">
                    <h4>{{ control.attr.name }}</h4>
                  </td>
                } @else {
                  <td>
                    <label [ngStyle]="{'padding-left': control.attr.deep * 20 + 'px'}">{{ control.attr.name }}</label>
                  </td>
                  <td>
                    <div class="input-group input-group-sm">
                      <div class="input-group-prepend">
                        <button
                          type="button"
                          class="btn btn-secondary btn-sm"
                          (click)="control.disabled ? control.enable() : control.disable()"
                        >
                          <span class="bi bi-trash" aria-hidden="true"></span>
                        </button>
                      </div>
                      @if (
                        control.attr.typeId === AttrAttributeTypeId.BOOLEAN ||
                        control.attr.typeId === AttrAttributeTypeId.LIST ||
                        control.attr.typeId === AttrAttributeTypeId.TREE
                      ) {
                        <select
                          class="form-select form-select-sm"
                          [formControl]="control"
                          [multiple]="control.attr.isMultiple"
                          [class.is-invalid]="
                            (control.invalid && (control.dirty || !control.untouched)) ||
                            invalidParams.get(control.attr.id)?.value
                          "
                        >
                          @for (option of control.attr.options$ | async; track option.id) {
                            <option [ngValue]="option.id">
                              {{ option.name }}
                            </option>
                          }
                        </select>
                      } @else if (control.attr.typeId === AttrAttributeTypeId.INTEGER) {
                        <input
                          type="number"
                          class="form-control form-control-sm"
                          [formControl]="control"
                          min="-2147483649"
                          max="2147483648"
                          [class.is-invalid]="
                            (control.invalid && (control.dirty || !control.untouched)) ||
                            invalidParams.get(control.attr.id)?.value
                          "
                        />
                      } @else if (control.attr.typeId === AttrAttributeTypeId.FLOAT) {
                        <input
                          type="number"
                          class="form-control form-control-sm"
                          [formControl]="control"
                          [step]="control.attr.step"
                          min="-2147483649"
                          max="2147483648"
                          [class.is-invalid]="
                            (control.invalid && (control.dirty || !control.untouched)) ||
                            invalidParams.get(control.attr.id)?.value
                          "
                        />
                      } @else if (control.attr.typeId === AttrAttributeTypeId.STRING) {
                        <input
                          type="text"
                          class="form-control form-control-sm"
                          [formControl]="control"
                          [class.is-invalid]="
                            (control.invalid && (control.dirty || !control.untouched)) ||
                            invalidParams.get(control.attr.id)?.value
                          "
                        />
                      }
                      @if (control.attr.unitId !== '0') {
                        <span [title]="control.attr.unitName" class="unit input-group-text">{{
                          control.attr.unitAbbr
                        }}</span>
                      }
                    </div>
                    @for (message of invalidParams.get(control.attr.id) | invalidParams: 'value'; track message) {
                      <p class="invalid-feedback d-block">{{ message }}</p>
                    }
                    @if (control.attr.description) {
                      <small>{{ control.attr.description }}</small>
                    }
                  </td>
                  <td class="actual">
                    @if (values$ | async; as values) {
                      @if (values.get(control.attr.id); as value) {
                        <div>
                          @if (value.value.isEmpty) {
                            <em i18n>none</em>
                          } @else {
                            <span>
                              {{ value.valueText }}
                              @if (control.attr.unitId !== '0') {
                                <span class="unit" [title]="control.attr.unitName">{{ control.attr.unitAbbr }}</span>
                              }
                            </span>
                          }
                        </div>
                      }
                    }
                  </td>
                  <td>
                    @if (userValues$ | async; as userValues) {
                      @for (value of userValues.get(control.attr.id); track value) {
                        <div>
                          @if (value.userValue.value.isEmpty) {
                            <em i18n>none</em>
                          } @else {
                            <span [textContent]="value.userValue.valueText"></span>
                          }
                          @if (value.user$ | async; as user) {
                            <app-user [user]="user"></app-user>
                          }
                          @if (value.userValue.updateDate?.toDate(); as date) {
                            <span class="date"
                              >[<span [textContent]="date | timeAgo" [ngbTooltip]="date | date: 'medium'"></span>]</span
                            >
                          }
                        </div>
                      }
                    }
                  </td>
                }
              </tr>
            }
            <tr>
              <td>
                <button type="submit" class="btn btn-success" i18n>Save</button>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    }
  }
}
