<form class="spec-editor-form" (submit)="saveSpecs()">
  {{invalidParams|json}}
  <p class="alert alert-danger" *ngIf="invalidParams && invalidParams.items">
    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
    {{'specifications-editor/not-save'|translate}}
  </p>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th translate>specifications-editor/parameter</th>
        <th translate>specifications-editor/your-value</th>
        <th translate>specifications-editor/actual-value</th>
        <th translate>specifications-editor/all-values</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let attribute of attributes" [class.subform-header]="!!attribute.childs.length">
        <!-- [class.has-error]="$element.getMessages()" -->
        <td colspan="4" [ngStyle]="{'padding-left': (attribute.deep * 20) + 'px'}" *ngIf="attribute.childs.length">
          <h4 [textContent]="attribute.name | translate"></h4>
        </td>
        <td *ngIf="!attribute.childs.length">
          <label [ngStyle]="{'padding-left': (attribute.deep * 20) + 'px'}" [textContent]="attribute.name | translate"></label>
        </td>
        <td *ngIf="!attribute.childs.length">
          <div class="input-group input-group-sm" *ngIf="currentUserValues[attribute.id]">
            <!--  [class.has-error]="element.getMessages()" -->
            <div class="input-group-prepend">
              <button type="button" class="btn btn-secondary btn-sm" (click)="currentUserValues[attribute.id].empty = !currentUserValues[attribute.id].empty"
                [class.active]="attribute.disabled">
                <span class="fa fa-remove" aria-hidden="true"></span>
              </button>
            </div>
            <select class="form-control form-control-sm" *ngIf="attribute.type_id == 5" [name]="'attr'+attribute.id" [(ngModel)]="currentUserValues[attribute.id].value"
              [disabled]="currentUserValues[attribute.id].empty" [class.is-invalid]="invalidParams && invalidParams.items[attribute.id]">
              <option *ngFor="let option of attribute.options" [value]="option.id">{{option.name}}</option>
            </select>
            <select class="form-control form-control-sm" *ngIf="(attribute.type_id == 6 || attribute.type_id == 7) && !attribute.is_multiple"
              [name]="'attr'+attribute.id" [(ngModel)]="currentUserValues[attribute.id].value" [disabled]="currentUserValues[attribute.id].empty"
              [class.is-invalid]="invalidParams && invalidParams.items[attribute.id]">
              <option *ngFor="let option of attribute.options" [value]="option.id">{{option.name}}</option>
            </select>
            <select class="form-control form-control-sm" *ngIf="(attribute.type_id == 6 || attribute.type_id == 7) && attribute.is_multiple"
              [name]="'attr'+attribute.id" [(ngModel)]="currentUserValues[attribute.id].value" [disabled]="currentUserValues[attribute.id].empty"
              multiple [class.is-invalid]="invalidParams && invalidParams.items[attribute.id]" size="5" style="height: 100%;">
              <option *ngFor="let option of attribute.options" [value]="option.id">{{option.name}}</option>
            </select>
            <input type="number" *ngIf="attribute.type_id == 2" class="form-control form-control-sm" [name]="'attr'+attribute.id" [(ngModel)]="currentUserValues[attribute.id].value"
              [disabled]="currentUserValues[attribute.id].empty" min="-2147483649" max="2147483648" [class.is-invalid]="invalidParams && invalidParams.items[attribute.id]"
            />
            <input type="number" *ngIf="attribute.type_id == 3" class="form-control form-control-sm" [name]="'attr'+attribute.id" [(ngModel)]="currentUserValues[attribute.id].value"
              [step]="getStep(attribute)" min="-2147483649" max="2147483648" [disabled]="currentUserValues[attribute.id].empty"
              [class.is-invalid]="invalidParams && invalidParams.items[attribute.id]" />
            <input type="text" *ngIf="attribute.type_id == 1" class="form-control form-control-sm" [name]="'attr'+attribute.id" [(ngModel)]="currentUserValues[attribute.id].value"
              [disabled]="currentUserValues[attribute.id].empty" [class.is-invalid]="invalidParams && invalidParams.items[attribute.id]"
            />
            <div class="input-group-append" *ngIf="attribute.unit">
              <span [title]="attribute.unit.name|translate" class="unit input-group-text" [textContent]="attribute.unit.abbr|translate"></span>
            </div>
          </div>
          <p *ngFor="let message of getInvalidParams(attribute.id)" [textContent]="message" class="invalid-feedback" [class.d-block]="invalidParams && invalidParams.items[attribute.id]"></p>
          <small *ngIf="attribute.description" [textContent]="attribute.description|translate"></small>
        </td>
        <td class="actual" *ngIf="!attribute.childs.length">
          <div *ngIf="values.has(attribute.id)">
            <em translate *ngIf="values.get(attribute.id)['value'] === null">account/specs/conflicts/my-value/none</em>
            <span *ngIf="values.get(attribute.id)['value'] !== null">
              {{values.get(attribute.id)['value_text']}}
              <span *ngIf="attribute.unit" class="unit" title="attribute.unit.name|translate" [textContent]="attribute.unit.abbr|translate"></span>
            </span>
          </div>
        </td>
        <td *ngIf="!attribute.childs.length">
          <div *ngFor="let value of userValues.get(attribute.id)">
            <em translate *ngIf="value.value_text === null">account/specs/conflicts/my-value/none</em>
            <span *ngIf="value.value_text !== null" [textContent]="value.value_text"></span>
            <app-user [user]="value.user" *ngIf="value.user"></app-user>
            <span class="date" *ngIf="value.update_date">[
              <span [textContent]="value.update_date | amTimeAgo" [ngbTooltip]="value.update_date | date: 'medium'"></span>]</span>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <button type="submit" class="btn btn-success" translate>specifications-editor/save</button>
        </td>
      </tr>
    </tbody>
  </table>
</form>
