<div class="card card-body">
  <div class="nav flex-column nav-pills">
    <ng-container *ngFor="let item of items$|async">
      <a class="nav-link" [routerLink]="item.routerLink" [queryParams]="item.routerLinkParams" *ngIf="item.routerLink" [class.active]="item.active">
        <span class="badge rounded-pill float-end"
              [class.text-bg-secondary]="item.newCount <= 0"
              [class.text-bg-danger]="item.newCount > 0"
              *ngIf="item.count !== undefined"
        >
          <span *ngIf="item.count <= 0" i18n="@@count-zero">none</span>
          <span *ngIf="item.count > 0 && item.newCount === undefined">{{item.count}}</span>
          <span *ngIf="item.count > 0 && item.newCount !== undefined && item.newCount <= 0">{{item.count}}</span>
          <span *ngIf="item.count > 0 && item.newCount !== undefined && item.newCount > 0">{{item.count - item.newCount}}+{{item.newCount}}</span>
        </span>
        <i class="bi {{item.icon}}" aria-hidden="true" *ngIf="item.icon"></i>
        {{item.name}}
      </a>
      <span class="nav-link" *ngIf="!item.routerLink">
        <i class="bi {{item.icon}}" aria-hidden="true" *ngIf="item.icon"></i>
        {{item.name}}
      </span>
    </ng-container>
  </div>
</div>
