<h4><ng-container i18n>Categories</ng-container> <small><a routerLink="/category" i18n>all</a></small></h4>
<div class="spinner-border" role="status" *ngIf="!categories">
  <span class="sr-only" i18n>Loading...</span>
</div>
<p *ngIf="categories">
  <app-index-categories-category [category]="category" *ngFor="let category of categories"></app-index-categories-category>
</p>
<app-markdown i18n-markdown markdown="А знаете ли вы, какая техника помогала блюсти правопорядок на улицах мировых городов в разное время? А на каких автомобилях ездил Папа Римский? Нет? Тогда вам точно в этот раздел." *ngIf="['ru', 'zh', 'fr', 'be', 'pt-br', 'uk', 'es'].indexOf(language) > -1"></app-markdown>
