<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/" i18n>Index page</a>
    </li>
  </ol>
</nav>

<ng-container *ngIf="data$|async as item">
  <div class="page-header">
    <h1 i18n>Specs editor of {{item.name_text}}</h1>
  </div>

  <div class="nav nav-pills mb-3">
    <a class="nav-link" [routerLink]="['/moder/items/item', item.id]" *ngIf="isModer$|async as isModer">
      <i class="bi bi-gear-fill" aria-hidden="true"></i>
      <ng-container i18n>edit</ng-container>
      <span [innerHTML]="item.name_html"></span>
    </a>
    <a class="nav-link" routerLink="/cars/attrs-change-log" [queryParams]="{item_id: item.id}">
      <i class="bi bi-list" aria-hidden="true"></i>
      <ng-container i18n>Log of values</ng-container>
    </a>
  </div>

  <ng-container *ngIf="user$|async as user">
    <app-markdown class="d-block alert alert-danger" *ngIf="user.specsWeight < 1" i18n-markdown markdown="**Attention!** Вроятно, у вас накопилось существенное количество ошибок.

Некоторые из них, обнаруженные другими посетителями, вы можете найти [здесь](/account/specs-conflicts)"></app-markdown>
  </ng-container>

  <ng-container *ngIf="tab$|async as tab">
    <ul class="nav nav-tabs" id="myTab">
      <li class="nav-item">
        <a routerLink="/cars/specifications-editor" [queryParams]="{item_id: item.id, tab: 'info'}" [class.active]="tab === 'info'"
          class="nav-link">
          <span class="bi bi-info" aria-hidden="true"></span>
          <ng-container i18n>Info</ng-container>
        </a>
      </li>
      <li class="nav-item" *ngIf="item.item_type_id === 1">
        <a routerLink="/cars/specifications-editor" [queryParams]="{item_id: item.id, tab: 'engine'}" [class.active]="tab === 'engine'"
          class="nav-link">
          <span class="glyphicon glyphicon-align-left"></span>
          <ng-container i18n>Engine</ng-container>
          <span class="badge rounded-pill text-bg-secondary" *ngIf="item.engine_id">1</span>
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/cars/specifications-editor" [queryParams]="{item_id: item.id, tab: 'spec'}" [class.active]="tab === 'spec'"
          class="nav-link">
          <span class="bi bi-car-front" aria-hidden="true"></span>
          <ng-container i18n>Specifications</ng-container>
        </a>
      </li>
      <li class="nav-item" *ngIf="item">
        <a routerLink="/cars/specifications-editor" [queryParams]="{item_id: item.id, tab: 'result'}" [class.active]="tab === 'result'"
          class="nav-link">
          <span class="bi bi-table" aria-hidden="true"></span>
          <ng-container i18n>Result</ng-container>
        </a>
      </li>
      <li *ngIf="(isSpecsAdmin$|async) && item" class="nav-item">
        <a routerLink="/cars/specifications-editor" [queryParams]="{item_id: item.id, tab: 'admin'}" [class.active]="tab === 'admin'" class="nav-link">
          <span class="bi bi-table" aria-hidden="true"></span>
          <ng-container i18n>Admin</ng-container>
        </a>
      </li>
    </ul>

    <div class="tab-content card card-body">
      <div class="tab-pane active" id="info" *ngIf="tab === 'info'">
        <app-markdown i18n-markdown markdown="Просьба отнестить со всей ответственностью ко всем выполняемым действиям, т.к. они станут достоянием общественности.


О структуре самих характеристик.

Все характеристики организованы в виде дерева элементов &quot;параметр - значение&quot;. Значения могут быть числовыми и текстовыми.

Важной особенностью является тот факт, что каждая характеристика может быть задана одновременно несколькими пользователями. В этом случае актуальным (используемым) значением является то, которое система сочтет приоритетным по ряду признаков.

Если вы столкнулись с ситуацией, когда вам не удаётся перекрыть введенное кем-то ранее значение, то вы можете просто написать об этом автору. Впрочем в процессе реализации система автоматического уведомления автором о том, что с его значением кто-то не согласен.


Все значения, которые здесь вводятся - отображаются на сайте, в характеристиках, используются в построении разделы &quot;самые-самые&quot;, а также отображаются в некоторых других местах сайта."></app-markdown>
      </div>
      <div class="tab-pane active" id="engine" *ngIf="tab === 'engine' && item && item.item_type_id === 1">
        <app-cars-specifications-editor-engine [item]="item" (changed)="onEngineChanged()"></app-cars-specifications-editor-engine>
      </div>
      <div class="tab-pane active" id="spec" *ngIf="tab === 'spec' && item">
        <app-cars-specifications-editor-spec [item]="item"></app-cars-specifications-editor-spec>
      </div>
      <div class="tab-pane active" id="result" *ngIf="tab === 'result' && item">
        <app-cars-specifications-editor-result [item]="item"></app-cars-specifications-editor-result>
      </div>
      <div class="tab-pane active" id="admin" *ngIf="tab === 'admin' && (isSpecsAdmin$|async)">
        <p>
          <a routerLink="/cars/specs-admin" [queryParams]="{item_id: item.id}" i18n>Admin</a>
        </p>
        <div>
          <button class="btn btn-secondary" (click)="refreshInheritance(item)" i18n>Refresh inheritance</button>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>
