<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/" i18n>Index page</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/moder" i18n>Moderator page</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/moder/items" i18n>Items</a>
    </li>
    <li class="breadcrumb-item" *ngIf="item">
      <a [routerLink]="['/moder/items/item', item.id]" [innerHTML]="item.name_html"></a>
    </li>
  </ol>
</nav>

<div class="page-header">
  <h1>Organize pictures</h1>
</div>


<app-markdown i18n-markdown markdown="Turbo group creator from pictures"></app-markdown>

<app-item-meta-form class="mb-4" [hidden]="loading > 0" [hideSubmit]="true" [(item)]="newItem" (submited)="submit()"
                    [(vehicleTypeIDs)]="vehicleTypeIDs"
                    [invalidParams]="invalidParams"></app-item-meta-form>

<div class="form-group row" [hidden]="loading > 0">
  <label class="col-md-2 col-form-label text-right" i18n>Pictures</label>
  <div class="col-md-10 multicheckbox-pictures row">
    <label class="btn btn-secondary col-md-3" *ngFor="let picture of pictures" [class.active]="picture.selected" (click)="pictureSelected(picture)">
      <img [src]="picture.picture.thumb_medium.src" alt="" [title]="picture.picture.name_text" class="rounded w-100" />
    </label>
  </div>
</div>
<div class="form-group row">
  <div class="col-md-10 offset-md-2">
    <button type="submit" name="submit" class="btn btn-primary" (click)="submit()" [disabled]="!hasSelectedPicture || loading > 0" i18n>Submit</button>
    <span [hidden]="loading <= 0">
      <i class="fa fa-spinner fa-spin fa-fw" aria-hidden="true"></i>
    </span>
  </div>
</div>
