<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/" i18n>Index page</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/cutaway" i18n>Cutaway</a>
    </li>
  </ol>
</nav>

<div class="page-header" *ngIf="brand$|async as brand; else loading">
  <h1 [innerHTML]="brand.name_html"></h1>
</div>

<ul class="nav nav-pills mb-4">
  <li class="nav-item">
    <a class="nav-link" routerLink="/cutaway/authors" i18n>Authors</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" routerLink="/cutaway/brands" i18n>Brands</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/cutaway" i18n>Pictures</a>
  </li>
</ul>

<ng-template #loading>
  <div class="spinner-border" role="status">
    <span class="sr-only" i18n>Loading...</span>
  </div>
</ng-template>

<ng-container *ngIf="query$|async as response; else loading">
  <div class="row">
    <div class="col-6 col-md-4 col-lg-3" *ngFor="let picture of response.pictures">
      <app-thumbnail [picture]="picture" [route]="['/picture', picture.identity]"></app-thumbnail>
    </div>
  </div>
  <app-paginator [data]="response.paginator" *ngIf="response.paginator"></app-paginator>
</ng-container>
