<ng-template #popover>
  <span [hidden]="!loading">
    <span class="spinner-border" role="status"><span class="visually-hidden" i18n>Loading…</span></span>
  </span>
  <div [innerHTML]="html"></div>
</ng-template>
<span *ngIf="factory">
  <a [routerLink]="['/factories', factory.id]">{{ factory.name }}</a>
  <span class="count"
    >({{ factory.count - factory.newCount
    }}<span
      *ngIf="factory.newCount > 0"
      [ngbPopover]="popover"
      triggers="mouseenter:mouseleave"
      (shown)="shown()"
      container="body"
      >+{{ factory.newCount }}</span
    >)</span
  >
</span>
