<div *ngIf="item.childs_count > 0">
  <i class="fa fa-folder-o" aria-hidden="true" [hidden]="item.open"></i>
  <i class="fa fa-folder-open-o" aria-hidden="true" [hidden]="!item.open"></i>
  <span *ngIf="typeID == 1" i18n>Related</span>
  <span *ngIf="typeID == 2" i18n>Sport</span>
  <span *ngIf="typeID == 3" i18n>Design</span>
  <a href="#" class="toggle" (click)="item.open = !item.open; item.open && onLoadChilds(item)">
    <span [innerHTML]="item.name_html"></span>
  </a>
  <ul [hidden]="!item.open">
    <li>
      <a href="#" (click)="onSelect(item)" i18n>here</a>
    </li>
    <li [hidden]="!item.open || item.childLinks">
      <span>
        <i class="fa fa-spinner fa-spin fa-fw" aria-hidden="true"></i>
      </span>
    </li>
    <li class="car-node" *ngFor="let child of item.childLinks">
      <app-moder-items-item-select-parent-tree [item]="child" (selected)="onSelect($event)" (loadChilds)="onLoadChilds($event)" [disableItemID]="disableItemID">
      </app-moder-items-item-select-parent-tree>
    </li>
  </ul>
</div>

<span *ngIf="(!item.childs_count || item.childs_count <= 0) && !isDisabled(item)">
  <span *ngIf="typeID == 1" i18n>Related</span>
  <span *ngIf="typeID == 2" i18n>Sport</span>
  <span *ngIf="typeID == 3" i18n>Design</span>
  <a href="#" (click)="onSelect(item)" [innerHTML]="item.name_html"></a>
</span>
<span *ngIf="isDisabled(item)">
  <span *ngIf="typeID == 1" i18n>Related</span>
  <span *ngIf="typeID == 2" i18n>Sport</span>
  <span *ngIf="typeID == 3" i18n>Design</span>
  <span class="text-muted" [innerHTML]="item.name_html"></span>
</span>
