<ng-template #popover>
  <span [hidden]="!loading">
    <i class="fa fa-spinner fa-spin fa-fw" aria-hidden="true"></i>
  </span>
  <div [innerHTML]="html"></div>
</ng-template>
<a [routerLink]="['/', brand.catname]" class="brandicon" [ngClass]="'brandicon-' + cssClass(brand)" [ngStyle]="{'background-image': 'url(' + icons.image + ')'}"></a>
<h4 ngPreserveWhitespaces>
  <a [routerLink]="['/', brand.catname]" [textContent]="brand.name"></a>
  <small>({{brand.totalCars - brand.newCars}}<span *ngIf="brand.newCars > 0" [ngbPopover]="popover" (shown)="shown()" triggers="mouseenter:mouseleave"
    [popoverTitle]="'brands/new-cars-of-brand'|translate:{brand: brand.name}" [textContent]="'+' + brand.newCars"></span>)</small>
</h4>
<p>
  <small>{{'brands/pictures:'|translate}} {{brand.totalPictures}}</small>
</p>
