<ng-template #loading>
  <div class="spinner-border" role="status"><span class="visually-hidden" i18n>Loading…</span></div>
</ng-template>

<ng-template #popover>
  <div [innerHTML]="html" *ngIf="html$|async as html; else loading"></div>
</ng-template>

<ng-container *ngIf="brand$|async as brand">
  <a [routerLink]="['/', brand.catname]" class="brandicon" [ngClass]="'brandicon-' + cssClass(brand)" [ngStyle]="{'background-image': 'url(' + icons.image + ')'}"></a>
  <h4>
    <a [routerLink]="['/', brand.catname]" [textContent]="brand.name"></a>
    <small>({{brand.totalCars - brand.newCars}}<span *ngIf="brand.newCars > 0" [ngbPopover]="popover" triggers="mouseenter:mouseleave"
      popoverTitle="New {{brand.name}} vehicles" [textContent]="'+' + brand.newCars" i18n-popoverTitle></span>)</small>
  </h4>
  <p>
    <small><ng-container i18n>pictures:</ng-container> {{brand.totalPictures}}</small>
  </p>
</ng-container>
