
<div class="row">
  <div class="col-sm-8 order-2" *ngIf="group">
    <app-twins-item [group]="group" [item]="item" *ngFor="let item of group.childs"></app-twins-item>

    <ul class="carLinks">
      <li *ngIf="group.has_child_specs">
        <i class="fa fa-list-alt"></i>
        <a [routerLink]="['/twins/group', group.id, 'specifications']">{{'carlist/specifications'|translate}}</a>
      </li>
      <li *ngIf="group.accepted_pictures_count > 0">
        <i class="fa fa-th"></i>
        <a [routerLink]="['/twins/group', group.id, 'pictures']">{{'carlist/all pictures'|translate}} ({{group.accepted_pictures_count}})</a>
      </li>
    </ul>

    <div *ngIf="group.description">
      <h3 translate="twins/group/description"></h3>
      <div class="card card-body">
        <app-markdown [markdown]="group.description|translate"></app-markdown>
      </div>
    </div>

    <app-comments [itemID]="group.id" [typeID]="2"></app-comments>
  </div>
  <div class="col-sm-4 order-1">
    <app-twins-sidebar [selected]="selectedBrands"></app-twins-sidebar>
  </div>
</div>
