<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/" translate>page/1/name</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/twins" translate>page/25/name</a>
    </li>
    <li class="breadcrumb-item" *ngIf="group">
      <a [routerLink]="['/twins/group', group.id]" [innerHTML]="group.name_html"></a>
    </li>
  </ol>
</nav>

<div class="row">
  <div class="col-sm-8 order-2">
    <div class="page-header" *ngIf="group">
      <h1 translate [translateParams]="{group_name: group.name_text}">page/28/ng-name</h1>
    </div>

    <div class="row" *ngIf="group">
      <div class="col-lg-3 col-md-3" *ngFor="let picture of pictures">
        <app-twins-group-pictures-thumbnail [group]="group" [picture]="picture"></app-twins-group-pictures-thumbnail>
      </div>
    </div>
    <app-paginator [data]="paginator" *ngIf="paginator"></app-paginator>
  </div>
  <div class="col-sm-4 order-1">
    <app-twins-sidebar [selected]="selectedBrands"></app-twins-sidebar>
  </div>
</div>
