<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/" i18n>Index page</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/twins" i18n>Twins</a>
    </li>
    <li class="breadcrumb-item" *ngIf="group">
      <a [routerLink]="['/twins/group', group.id]" [innerHTML]="group.name_html"></a>
    </li>
  </ol>
</nav>

<div class="page-header" *ngIf="group">
  <h1 i18n>Specifications of {{group.name_text}}</h1>
</div>

<div [innerHtml]="resultHtml"></div>
