<ng-template #loading>
  <div class="spinner-border" role="status"><span class="visually-hidden" i18n>Loading…</span></div>
</ng-template>

<div class="card card-body" *ngIf="data$|async as data; else loading">
  <ul ngbNav #nav="ngbNav" [activeId]="data.languages[0].language" class="nav-tabs">
    <li [ngbNavItem]="language.language" *ngFor="let language of data.languages">
      <a ngbNavLink>
        {{language.language.toUpperCase()}}
        <span class="badge rounded-pill text-bg-secondary" *ngIf="language.name || language.text || language.full_text">
          {{((language.name && language.name.length) ? 1 : 0) + ((language.text && language.text.length) ? 1 : 0) + ((language.full_text
          && language.full_text.length) ? 1 : 0)}}
        </span>
      </a>
      <ng-template ngbNavContent>
        <div class="mb-3 row mt-4">
          <label class="col-md-2 col-form-label" i18n>Name</label>
          <div class="col-md-10">
            <input type="text" [(ngModel)]="language.name" name="name" maxlength="255" class="form-control" />
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-md-2 col-form-label" i18n>Short description</label>
          <div class="col-md-10">
            <app-markdown-edit [(text)]="language.text"></app-markdown-edit>
            <p *ngIf="language.text_id" class="text-end">
              <a [routerLink]="['/info/text', language.text_id]" i18n>History</a>
            </p>
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-md-2 col-form-label" i18n>Full description</label>
          <div class="col-md-10">
            <app-markdown-edit [(text)]="language.full_text"></app-markdown-edit>
            <p *ngIf="language.full_text_id" class="text-end">
              <a [routerLink]="['/info/text', language.full_text_id]" i18n>History</a>
            </p>
          </div>
        </div>
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav"></div>
  <button type="submit" class="btn btn-primary" (click)="saveLanguages(data.itemId, data.languages)" [disabled]="loadingNumber > 0">
    <span *ngIf="loadingNumber > 0">
      <span class="spinner-border" role="status"><span class="visually-hidden" i18n>Loading…</span></span>
    </span>
    <ng-container i18n>Submit</ng-container>
  </button>
</div>
