@if (data$ | async; as languages) {
  <div class="card card-body">
    <ul ngbNav #nav="ngbNav" [activeId]="languages[0].language" class="nav-tabs">
      @for (language of languages; track language.language) {
        <li [ngbNavItem]="language.language">
          <a ngbNavLink>
            {{ language.language.toUpperCase() }}
            @if (language.name || language.text || language.fullText) {
              <span class="badge rounded-pill text-bg-secondary">
                {{
                  (language.name && language.name.length ? 1 : 0) +
                    (language.text && language.text.length ? 1 : 0) +
                    (language.fullText && language.fullText.length ? 1 : 0)
                }}
              </span>
            }
          </a>
          <ng-template ngbNavContent>
            <div class="mb-3 row mt-4">
              <label class="col-md-2 col-form-label" i18n>Name</label>
              <div class="col-md-10">
                <input type="text" [(ngModel)]="language.name" name="name" maxlength="255" class="form-control" />
              </div>
            </div>
            <div class="mb-3 row">
              <label class="col-md-2 col-form-label" i18n>Short description</label>
              <div class="col-md-10">
                <app-markdown-edit [(text)]="language.text"></app-markdown-edit>
                @if (language.textId) {
                  <p class="text-end">
                    <a [routerLink]="['/info/text', language.textId]" i18n>History</a>
                  </p>
                }
              </div>
            </div>
            <div class="mb-3 row">
              <label class="col-md-2 col-form-label" i18n>Full description</label>
              <div class="col-md-10">
                <app-markdown-edit [(text)]="language.fullText"></app-markdown-edit>
                @if (language.fullTextId) {
                  <p class="text-end">
                    <a [routerLink]="['/info/text', language.fullTextId]" i18n>History</a>
                  </p>
                }
              </div>
            </div>
          </ng-template>
        </li>
      }
    </ul>
    <div [ngbNavOutlet]="nav"></div>
    <button type="submit" class="btn btn-primary" (click)="saveLanguages(languages)" [disabled]="loadingNumber > 0">
      @if (loadingNumber > 0) {
        <span>
          <span class="spinner-border" role="status"><span class="visually-hidden" i18n>Loading…</span></span>
        </span>
      }
      <ng-container i18n>Submit</ng-container>
    </button>
  </div>
} @else {
  <div class="spinner-border" role="status"><span class="visually-hidden" i18n>Loading…</span></div>
}
