<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/" i18n>Index page</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/forums" i18n>Forums</a>
    </li>
    <li class="breadcrumb-item" *ngIf="topic && topic.theme">
      <a [routerLink]="['/forums', topic.theme.id]">{{getForumsThemeTranslation(topic.theme.name)}}</a>
    </li>
  </ol>
</nav>

<div class="page-header">
  <h1 *ngIf="topic">{{topic.name}}</h1>
</div>

<section class="forum-topic-page comments" *ngIf="topic">
  <app-comments [itemID]="topic.id" [typeID]="5" *ngIf="topic" [limit]="limit" [page]="page"></app-comments>

  <div class="text-right" *ngIf="user" style="margin-bottom:10px">
    <button class="btn btn-link subscription" *ngIf="!topic.subscription" (click)="subscribe()">
      <i class="fa fa-envelope" aria-hidden="true"></i>
      <ng-container i18n>Subscribe to new replies notifications</ng-container>
    </button>
    <button class="btn btn-link subscription" *ngIf="topic.subscription" (click)="unsubscribe()">
      <i class="fa fa-envelope" aria-hidden="true"></i>
      <ng-container i18n>Unsubscribe from notifications</ng-container>
    </button>
  </div>

  <p class="alert alert-block alert-error" i18n *ngIf="topic.status == 'closed'">Topic is closed by site administration</p>
</section>
