@if (data && data.pageCount > 1) {
  <div>
    <p ngPreserveWhitespaces>
      @if (data.previous) {
        <a routerLink="." [queryParams]="{page: data.previous}" queryParamsHandling="merge"
          >←<ng-container i18n>previous</ng-container></a
        >
      } @else {
        <span>←<ng-container i18n>previous</ng-container></span>
      }
      @if (data.next) {
        <a routerLink="." [queryParams]="{page: data.next}" queryParamsHandling="merge"
          ><ng-container i18n>next</ng-container>→</a
        >
      } @else {
        <span><ng-container i18n>next</ng-container>→</span>
      }
    </p>
    <p ngPreserveWhitespaces>
      @if (data.first < data.firstPageInRange) {
        <a routerLink="." [queryParams]="{page: data.first}" queryParamsHandling="merge">{{ padd(data.first) }}</a>
      }
      @if (data.first < data.firstPageInRange - 1) {
        <span>…</span>
      }
      @for (page of pagesInRange(); track page) {
        <span>
          @if (page !== data.current) {
            <a routerLink="." [queryParams]="{page: page}" queryParamsHandling="merge" [textContent]="padd(page)"></a>
          }
          @if (page === data.current) {
            <strong style="font-size: 20px; margin: 0 3px" [textContent]="padd(page)"></strong>
          }
        </span>
      }
      @if (data.last > data.lastPageInRange + 1) {
        <span>…</span>
      }
      @if (data.last > data.lastPageInRange) {
        <a routerLink="." [queryParams]="{page: data.last}" queryParamsHandling="merge">{{ padd(data.last) }}</a>
      }
    </p>
  </div>
}
