<ng-container *ngIf="current$ | async as current; else loading">
  <app-markdown
    [markdown]="current.description"
    *ngIf="current.description && current.description.length > 0"
  ></app-markdown>
</ng-container>

<ng-container *ngIf="itemParents$ | async as itemParents; else loading">
  <app-categories-list-item
    [item]="itemParent.item.item"
    [parentRouterLink]="itemParent.parentRouterLink"
    *ngFor="let itemParent of itemParents.items"
  ></app-categories-list-item>
</ng-container>

<app-categories-list-item
  [item]="item"
  [parentRouterLink]="currentRouterLinkPrefix$ | async"
  *ngIf="item$ | async as item"
></app-categories-list-item>

<ng-container *ngIf="pictures$ | async as pictures; else loading">
  <div class="twins row" *ngIf="pictures.length > 0">
    <div class="col-lg-3 col-md-3" *ngFor="let i of pictures">
      <div class="card mb-4">
        <a [routerLink]="i.route">
          <img
            alt=""
            [src]="i.picture.thumb_medium.src"
            [title]="i.picture.name_text"
            class="card-img-top"
            loading="lazy"
          />
        </a>
      </div>
    </div>
  </div>
</ng-container>

<!--div *ngIf="otherItemsCount > 0">
  <h3 i18n>Other</h3>
  <div class="row">
    <div class="col-md-3" *ngFor="let picture of otherPictures">
      <a [href]="picture.url" class="d-block rounded mb-4">
        <img [src]="picture.src" [title]="picure.name_text" class="rounded w-100 border border-light" />
      </a>
    </div>
  </div>
  <span class="canAddCar">
    <i class="bi bi-text-left" aria-hidden="true"></i>
    <a [routerLink]="['/category', category.catname, 'other']">details ({{otherItemsCount}})</a>
  </span>
</div>-->

<ng-container *ngIf="itemParents$ | async as itemParents; else loading">
  <app-paginator [data]="itemParents.paginator" *ngIf="itemParents.paginator"></app-paginator>
</ng-container>
<!--
<p *ngIf="contributors.length > 0">
    <ng-container i18n>Contributors:</ng-container>
    <app-user [user]="user" *ngFor="let user of contributors"></app-user>
</p>
-->

<ng-template #loading>
  <div class="spinner-border" role="status"><span class="visually-hidden" i18n>Loading…</span></div>
</ng-template>
