<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/" i18n>Index page</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/donate" i18n>Donate</a>
    </li>
  </ol>
</nav>

<div class="page-header">
  <h1 i18n id="header">Donate log</h1>
</div>

<table class="table" aria-describedby="header">
  <thead>
    <tr>
      <th>Дата</th>
      <th>Жертвователь</th>
      <th>Сумма</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items">
      <td>
        <span [textContent]="item.date | timeAgo" [ngbTooltip]="item.date | date: 'medium'"></span>
      </td>
      <td>
        <app-user [user]="item.user" *ngIf="item.user"></app-user>
      </td>
      <td>{{ item.sum | number: '2.0-2' }} {{ item.currency }}</td>
    </tr>
  </tbody>
</table>
