<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/" translate>page/1/name</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/donate">page/196/name</a>
    </li>
  </ol>
</nav>

<div class="page-header">
  <h1>Donate log</h1>
</div>

<table class="table" role="presentation">
  <thead>
    <tr>
      <td>Дата</td>
      <td>Жертвователь</td>
      <td>Сумма</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items">
      <td [textContent]="item.date | amTimeAgo" [ngbTooltip]="item.date | date: 'medium'"></td>
      <td>
        <app-user [user]="item.user" *ngIf="item.user"></app-user>
      </td>
      <td>
        {{item.sum | number : '2.0-2'}} {{item.currency}}
      </td>
    </tr>
  </tbody>
</table>
