<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/" translate>page/1/name</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/restore-password" translate>page/60/name</a>
    </li>
  </ol>
</nav>

<div class="page-header">
  <h1 translate>page/135/name</h1>
</div>

<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="card card-body">
      <app-markdown [markdown]="'restore-password/new-password/saved'|translate"></app-markdown>
    </div>
  </div>
</div>
