<div class="page-header-small mb-4">
  <h4><ng-container i18n>New pictures</ng-container> <small><a routerLink="/new" i18n>all</a></small></h4>
</div>
<div class="spinner-border" role="status" *ngIf="!items">
  <span class="sr-only" i18n>Loading...</span>
</div>

<div class="row" *ngIf="items">
  <div class="col-6 col-sm-6 col-md-3 col-lg-3" *ngFor="let picture of items">
    <app-thumbnail [picture]="picture" [route]="['/picture', picture.identity]"></app-thumbnail>
  </div>
</div>

<p>
  <span class="fa fa-th" aria-hidden="true"></span>
  <a routerLink="/new" i18n>All new pictures …</a>
</p>
