<div class="page-header-small">
  <h4>{{'page/51/name'|translate}} <small><a routerLink="/new" translate>all-link</a></small></h4>
</div>
<div class="spinner-border" role="status" *ngIf="!items">
  <span class="sr-only">Loading...</span>
</div>

<div class="row" *ngIf="items">
  <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-2" *ngFor="let picture of items">
    <app-thumbnail [picture]="picture"></app-thumbnail>
  </div>
</div>

<p>
  <span class="fa fa-th" aria-hidden="true"></span>
  <a routerLink="/new">{{'All new pictures'|translate}} …</a>
</p>
