<div class="page-header-small mb-4">
  <h4><ng-container i18n>New pictures</ng-container> <small><a routerLink="/new" i18n>all</a></small></h4>
</div>
<ng-template #loading>
  <div class="spinner-border" role="status"><span class="visually-hidden" i18n>Loading…</span></div>
</ng-template>

<div class="row" *ngIf="items$|async as items; else loading">
  <div class="col-6 col-sm-6 col-md-3 col-lg-3" *ngFor="let picture of items">
    <app-thumbnail [picture]="picture" [route]="['/picture', picture.identity]"></app-thumbnail>
  </div>
</div>

<p>
  <span class="bi bi-grid-3x2-gap-fill" aria-hidden="true"></span>
  <a routerLink="/new" i18n>All new pictures …</a>
</p>
