<div class="spinner-border" role="status" *ngIf="!itemOfDayLoaded">
  <span class="sr-only" i18n>Loading...</span>
</div>
<app-item-of-day class="d-block mb-4" [item]="itemOfDay.item" [user]="itemOfDay.user" *ngIf="itemOfDay"></app-item-of-day>

<app-index-brands></app-index-brands>

<app-index-pictures></app-index-pictures>

<div class="row">
  <div class="col-md-6">
    <app-index-twins></app-index-twins>
  </div>
  <div class="col-md-6">
    <app-index-categories></app-index-categories>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h4><ng-container i18n>Mostly</ng-container> <small><a routerLink="/mosts" i18n>all</a></small></h4>
    <p>
      <ng-container *ngFor="let most of mosts">
        <a [routerLink]="most.route">{{most.name|translate}}</a>,
      </ng-container>
      …
    </p>
    <app-markdown [markdown]="'index/categories/mosts'|translate"></app-markdown>
  </div>

  <div class="col-md-6">
    <app-index-factories></app-index-factories>
  </div>
</div>

<div class="row mb-4">
  <div class="col-md-6">
    <h4><ng-container i18n>Persons on photo</ng-container> <small><a routerLink="/persons" i18n>all</a></small></h4>
    <div class="spinner-border" role="status" *ngIf="!contentPersonsLoaded">
      <span class="sr-only" i18n>Loading...</span>
    </div>
    <p *ngIf="contentPersonsLoaded">
      <ng-container *ngFor="let person of contentPersons">
        <a [routerLink]="['/persons', person.id]">{{person.name}}</a>,
      </ng-container>
      …
    </p>
  </div>

  <div class="col-md-6">
    <h4><ng-container i18n>Authors</ng-container> <small><a routerLink="/persons/authors" i18n>all</a></small></h4>
    <div class="spinner-border" role="status" *ngIf="!personsLoaded">
      <span class="sr-only" i18n>Loading...</span>
    </div>
    <p *ngIf="personsLoaded">
      <ng-container *ngFor="let person of persons">
        <a [routerLink]="['/persons', person.id]">{{person.name}}</a>,
      </ng-container>
      …
    </p>
  </div>
</div>

<app-index-specs-cars></app-index-specs-cars>

<div>
  <h4 class="mb-4" i18n>Also</h4>
  <p><a routerLink="/mascots" i18n>Mascots</a> and <a routerLink="/cutaway/authors" i18n>Cutaway</a></p>
</div>
