<ng-template #loading xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <div class="spinner-border" role="status">
    <span class="sr-only" i18n>Loading...</span>
  </div>
</ng-template>
<app-item-of-day class="d-block mb-4" [item]="itemOfDay[1].item" [user]="itemOfDay[0]" *ngIf="itemOfDay$|async as itemOfDay; else loading"></app-item-of-day>

<h4 i18n>Help the project</h4>
<div class="row">
  <div class="col-sm-6">
    <app-markdown2 i18n>
Due to financial restrictions and difficult economy situation in regions where most of our contributors live, we are forced to open a fundraiser to pay the hosting for our website.

This project is aimed to remain free to use and fully advertising free in the future.
    </app-markdown2>
  </div>
  <div class="col-sm-6">
    <p i18n>Our goal is to cover 2500€ that is the cost of 1 year of website existence.</p>
    <div class="progress mb-4" style="height: 30px;">
      <div class="progress-bar progress-bar-striped bg-success" style="min-width:10%"><span class="mx-2">9 donations, 250.61€</span></div>
    </div>
    <form action="https://www.paypal.com/donate" method="post" target="_top" ngNoForm class="text-center mb-2">
      <input type="hidden" name="hosted_button_id" value="JND8ZMAHY63VQ" />
      <input type="image" src="https://www.paypalobjects.com/ru_RU/RU/i/btn/btn_donateCC_LG.gif" name="submit" alt="PayPal" *ngIf="languageService.language === 'ru'" />
      <input type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_donateCC_LG.gif" name="submit" alt="PayPal" *ngIf="languageService.language !== 'ru'" />
      <img alt="" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
    </form>
  </div>
</div>

<app-index-brands></app-index-brands>

<app-index-pictures></app-index-pictures>

<div class="row">
  <div class="col-md-6">
    <app-index-twins></app-index-twins>
  </div>
  <div class="col-md-6">
    <app-index-categories></app-index-categories>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h4><ng-container i18n>Mostly</ng-container> <small><a routerLink="/mosts" i18n>all</a></small></h4>
    <p>
      <ng-container *ngFor="let most of mosts">
        <a [routerLink]="most.route">{{most.name}}</a>,
      </ng-container>
      …
    </p>
    <app-markdown i18n-markdown markdown="Want to know which car was the fastest? Do you want to know how much the most powerful mining truck weighs? Come and find out."></app-markdown>
  </div>

  <div class="col-md-6">
    <app-index-factories></app-index-factories>
  </div>
</div>

<div class="row mb-4">
  <div class="col-md-6">
    <h4><ng-container i18n>Persons on photo</ng-container> <small><a routerLink="/persons" i18n>all</a></small></h4>
    <p *ngIf="contentPersons$|async as persons; else contentLoading">
      <ng-container *ngFor="let person of persons.items">
        <a [routerLink]="['/persons', person.id]">{{person.name}}</a>,
      </ng-container>
      …
    </p>
    <ng-template #contentLoading>
      <div class="spinner-border" role="status">
        <span class="sr-only" i18n>Loading...</span>
      </div>
    </ng-template>
  </div>

  <div class="col-md-6">
    <h4><ng-container i18n>Authors</ng-container> <small><a routerLink="/persons/authors" i18n>all</a></small></h4>
    <p *ngIf="authorPersons$|async as persons; else authorLoading">
      <ng-container *ngFor="let person of persons.items">
        <a [routerLink]="['/persons', person.id]">{{person.name}}</a>,
      </ng-container>
      …
    </p>
    <ng-template #authorLoading>
      <div class="spinner-border" role="status">
        <span class="sr-only" i18n>Loading...</span>
      </div>
    </ng-template>
  </div>
</div>

<app-index-specs-cars></app-index-specs-cars>

<div>
  <h4 class="mb-4" i18n>Also</h4>
  <p><a routerLink="/mascots" i18n>Mascots</a> and <a routerLink="/cutaway/authors" i18n>Cutaway</a></p>
</div>
