<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/" i18n>Index page</a>
    </li>
  </ol>
</nav>

<div class="page-header">
  <h1 translate>page/61/name</h1>
</div>

<div *ngFor="let line of items">
  <div *ngIf="line">
    <div class="btn-group">
      <a class="btn btn-secondary" [href]="'#char' + info.id" (click)="scrollTo(info)" [textContent]="info.char" *ngFor="let info of line"></a>
    </div>
  </div>
</div>

<div *ngFor="let line of items">
  <div *ngFor="let info of line">
    <h2 [id]="'char' + info.id">→ {{info.char}}</h2>
    <div class="brand-icons row">
      <div *ngFor="let brand of info.brands" class="col-12 col-sm-6 col-md-4 col-lg-4">
        <app-brands-item [brand]="brand" [icons]="icons"></app-brands-item>
      </div>
    </div>
  </div>
</div>
