<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/" translate>page/1/name</a>
    </li>
  </ol>
</nav>

<div class="page-header">
  <h1 translate>page/75/name</h1>
</div>

<table class="table table-condensed table-striped" role="presentation">
  <tr *ngFor="let event of items">
    <td>
      <app-user [user]="event.user" *ngIf="event.user"></app-user>
      <div *ngIf="event.date" [textContent]="event.date | amTimeAgo" [ngbTooltip]="event.date | date: 'medium'"></div>
    </td>
    <td [innerHTML]="event.desc"></td>
    <td>
      <div *ngFor="let item of event.items">
        Item:
        <a [routerLink]="['/moder/items/item', item.id]" [innerHTML]="item.name_html"></a>
      </div>
      <div *ngFor="let picture of event.pictures">
        Picture:
        <a [routerLink]="['/moder/pictures', picture.id]" [innerHTML]="picture.name_html"></a>
      </div>
    </td>
  </tr>
</table>

<app-paginator [data]="paginator" *ngIf="paginator"></app-paginator>
