<div class="comments">
  <h2 i18n *ngIf="messages && typeID !== 5">Comments</h2>
  <app-comments-list [itemID]="itemID" [typeID]="typeID" (sent)="onSent($event)" [messages]="messages" [deep]="0" *ngIf="messages"></app-comments-list>

  <app-paginator [data]="paginator" *ngIf="paginator"></app-paginator>

  <app-comments-form [itemID]="itemID" [typeID]="typeID" (sent)="onSent($event)" *ngIf="user"></app-comments-form>
  <app-markdown *ngIf="!user" class="alert alert-block alert-info" i18n-markdown markdown="To be able to post a comment, you must [create an account or sign in using social networks account](/login)"></app-markdown>
</div>
