<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/" i18n>Index page</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/map" i18n>Map</a>
    </li>
  </ol>
</nav>

<ng-container *ngIf="item$|async as item">
  <div class="page-header">
    <h1>{{item.name}}</h1>
  </div>

  <p *ngIf="museumModer$|async">
    <i class="fa fa-cog" aria-hidden="true"></i>
    <a [routerLink]="['/moder/items/item', item.id]" i18n>edit</a>
  </p>

  <div style="height:300px" class="mb-4 w-100" *ngIf="map$|async as map" leaflet [leafletOptions]="map.options"
    [leafletLayers]="map.markers"></div>

  <ng-container *ngIf="links$|async as links">
    <div class="card card-body" *ngIf="item && (links.length > 0 || item.description)">
      <app-markdown [markdown]="item.description"></app-markdown>

      <p *ngIf="links.length > 0">
        <ng-container i18n>Web-site:</ng-container>
        <ng-container *ngFor="let link of links">
          <a [href]="link.url" [textContent]="link.name ? link.name : link.url"></a>
          <br />
        </ng-container>
      </p>
    </div>
  </ng-container>
</ng-container>

<ng-container *ngIf="pictures$|async as data">
  <div *ngIf="data.pictures.length > 0">
    <h3 i18n>Pictures</h3>
    <div class="row">
      <div class="col-6 col-md-4 col-lg-3 col-xl-2" *ngFor="let picture of data.pictures">
        <app-thumbnail [picture]="picture" [route]="['/picture', picture.identity]"></app-thumbnail>
      </div>
    </div>
  </div>
</ng-container>

<app-comments [itemID]="item.id" [typeID]="2" *ngIf="item$|async as item"></app-comments>
