<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/" i18n>Index page</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/moder" i18n>Moderator page</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/moder/attrs" i18n>Attributes</a>
    </li>
  </ol>
</nav>

<ng-container *ngIf="zone$ | async as zone">
  <div class="page-header">
    <h1>{{ zone.name }}</h1>
  </div>

  <h2 i18n>Attributes order</h2>
  <div class="card card-body" *ngIf="attributes$ | async as attributes">
    <app-moder-attrs-zone-attribute-list
      *ngIf="zoneAttributes$ | async as zoneAttributes"
      [attributes]="attributes"
      [map]="zoneAttributes"
    ></app-moder-attrs-zone-attribute-list>
  </div>
</ng-container>
