<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/" i18n>Index page</a>
    </li>
    <li class="breadcrumb-item" *ngIf="brand$ | async as brand">
      <a [routerLink]="['/', brand.catname]" [innerHTML]="brand.nameHtml"></a>
    </li>
  </ol>
</nav>

<div class="page-header" *ngIf="brand$ | async as brand; else loading">
  <h1 i18n>Latest pictures of {{ brand.nameOnly }}</h1>
</div>

<ng-template #loading>
  <div class="spinner-border" role="status"><span class="visually-hidden" i18n>Loading…</span></div>
</ng-template>

<ng-container *ngIf="data$ | async as data; else loading">
  <div class="row" *ngFor="let chunk of data.pictures">
    <div class="col-sm-3" *ngFor="let item of chunk">
      <app-thumbnail [picture]="item.picture" [route]="item.route">></app-thumbnail>
    </div>
  </div>

  <app-paginator [data]="data.paginator" *ngIf="data.paginator"></app-paginator>
</ng-container>
