@if (ratingCatnameNormalized$ | async; as ratingCatname) {
  <h1 class="mb-4 mosts-header" ngPreserveWhitespaces>
    <span i18n>Most</span>
    @if (ratings$ | async; as ratings) {
      <div class="d-inline-block" ngbDropdown>
        <a href="#" ngbDropdownToggle (click)="(false)">
          @for (rating of ratings; track rating) {
            @if (rating.catname === ratingCatname) {
              <span [textContent]="getMostsRatingsTranslation(rating.name)"> </span>
            }
          }
          <i class="bi bi-caret-down" aria-hidden="true"></i>
        </a>
        <div ngbDropdownMenu style="max-height: 200px; overflow-x: hidden">
          @for (rating of ratings; track rating) {
            <a
              [class.active]="rating.catname === ratingCatname"
              class="dropdown-item"
              [routerLink]="prefix.concat([rating.catname])"
              [textContent]="getMostsRatingsTranslation(rating.name)"
            >
            </a>
          }
        </div>
      </div>
    }
    <span i18n>among</span>
    @if (vehicleTypes$ | async; as vehicleTypes) {
      <div class="d-inline-block" ngbDropdown>
        <a href="#" ngbDropdownToggle (click)="(false)">
          @if (typeCatname$ | async; as typeCatname) {
            @for (type of vehicleTypes; track type) {
              @if (type.catname === typeCatname) {
                <span [textContent]="type.nameTranslated"></span>
              }
            }
          } @else {
            <span i18n>Vehicle</span>
          }
          <i class="bi bi-caret-down" aria-hidden="true"></i>
        </a>
        <div ngbDropdownMenu style="max-height: 200px; overflow-x: hidden">
          @for (type of vehicleTypes; track type) {
            <a
              class="dropdown-item"
              [class.active]="type.catname === (typeCatname$ | async)"
              [routerLink]="prefix.concat([ratingCatname, type.catname])"
              [textContent]="type.nameTranslated"
            ></a>
          }
        </div>
      </div>
    }
    @if (yearsCatname$ | async; as yearsCatname) {
      @if (years$ | async; as years) {
        <div class="d-inline-block" ngbDropdown>
          <a href="#" ngbDropdownToggle (click)="(false)">
            @for (year of years; track year) {
              @if (year.catname ? year.catname === yearsCatname : !yearsCatname) {
                <span [textContent]="getMostsPeriodsTranslation(year.name)"></span>
              }
            }
            <i class="bi bi-caret-down" aria-hidden="true"></i>
          </a>
          @if (defaultTypeCatname$ | async; as defaultTypeCatname) {
            <div ngbDropdownMenu style="max-height: 200px; overflow-x: hidden">
              @if (typeCatname$ | async; as typeCatname) {
                @for (year of years; track year) {
                  <a
                    [class.active]="year.catname ? year.catname === yearsCatname : !yearsCatname"
                    class="dropdown-item"
                    [routerLink]="prefix.concat([ratingCatname, typeCatname, year.catname ? year.catname : ''])"
                    [textContent]="getMostsPeriodsTranslation(year.name)"
                  >
                  </a>
                }
              } @else {
                @for (year of years; track year) {
                  <a
                    [class.active]="year.catname ? year.catname === yearsCatname : !yearsCatname"
                    class="dropdown-item"
                    [routerLink]="prefix.concat([ratingCatname, defaultTypeCatname, year.catname ? year.catname : ''])"
                    [textContent]="getMostsPeriodsTranslation(year.name)"
                  >
                  </a>
                }
              }
            </div>
          }
        </div>
      }
    }
  </h1>
  @if (items$ | async; as items) {
    @for (item of items; track item; let i = $index) {
      <div class="row">
        <div class="col-md-9">
          <h3 [innerHTML]="item.item.name_html"></h3>
        </div>
        <div class="col-md-3">
          @if (!i) {
            <h3 [textContent]="getMostsRatingParamsTranslation('most/' + ratingCatname + '/param')"></h3>
          }
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-md-9">
          <div class="row">
            @for (picture of item.pictures; track picture) {
              <div class="col-md-4">
                @if (picture) {
                  <a [routerLink]="picture.route" class="rounded d-block mb-4">
                    <img
                      class="rounded w-100 border border-light"
                      [src]="picture.src"
                      [alt]="picture.name"
                      [title]="picture.name"
                      loading="lazy"
                    />
                  </a>
                } @else {
                  <span>&#xa0;</span>
                }
              </div>
            }
          </div>
          @if (item.item.description) {
            <app-markdown [markdown]="item.item.description"></app-markdown>
          }
        </div>
        <div class="col-md-3">
          <h3 ngPreserveWhitespaces>
            @if (item.value_html) {
              <span [innerHTML]="item.value_html"></span>
            } @else if (item.value_text) {
              <span [innerText]="item.value_text"></span>
            }
            @if (item.unit) {
              <small
                class="unit"
                [textContent]="getUnitAbbrTranslation(item.unit.id + '')"
                placement="top"
                [ngbTooltip]="getUnitNameTranslation(item.unit.id + '')"
              ></small>
            }
          </h3>
        </div>
      </div>
    }
  } @else {
    <div class="spinner-border" role="status"><span class="visually-hidden" i18n>Loading…</span></div>
  }
}
