<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/" translate>page/1/name</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/signup" translate>page/52/name</a>
    </li>
  </ol>
</nav>

<div class="page-header">
  <h1 translate>page/53/name</h1>
</div>

<div class="jumbotron">
  <h1>
    <i class="fa fa-check"></i>
  </h1>
  <app-markdown [markdown]="'users/registration/success/email-sent'|translate"></app-markdown>
</div>
