<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/" i18n>Index page</a>
    </li>
  </ol>
</nav>

<div class="row">
  <div class="col-lg-8 mb-4 order-2">
    <div class="page-header">
      <h1>{{pageName}}</h1>
    </div>

    <div style="margin:0 0 20px;" *ngIf="folder ==='sent' && paginator && paginator.totalItemCount">
      <button class="btn btn-danger" (click)="clearFolder('sent')" i18n>Delete all sent messages</button>
    </div>

    <div style="margin:0 0 20px;" *ngIf="folder ==='system' && paginator && paginator.totalItemCount">
      <button class="btn btn-danger" (click)="clearFolder('system')" i18n>Delete all system notifications</button>
    </div>

    <div class="comments">
      <div class="message" *ngFor="let message of items">
        <div>
          <app-user [user]="message.author" *ngIf="message.author"></app-user>
          <span i18n *ngIf="! message.author">System notification</span>
        </div>
        <div class="photo">
          <a [routerLink]="message.author.route" *ngIf="message.author && ! message.author.deleted">
            <img alt="" [src]="message.author.avatar.src" *ngIf="message.author.avatar" class="rounded" loading="lazy" />
            <img alt="" [src]="message.author.gravatar" *ngIf="message.author.gravatar && ! message.author.avatar" class="rounded" loading="lazy" />
          </a>
        </div>
        <div class="content">
          <div class="text">
            <app-user-text [text]="message.text"></app-user-text>
          </div>
          <div ngPreserveWhitespaces>
            <span class="badge badge-info" *ngIf="message.is_new" i18n>new</span>
            <a href="#" class="float-right" (click)="deleteMessage(message.id)" *ngIf="message.can_delete" ngPreserveWhitespaces>
              <i class="fa fa-trash" aria-hidden="true"></i>
              <ng-container i18n>delete</ng-container>
            </a>
            <span *ngIf="message.can_reply" ngPreserveWhitespaces>
              <i class="fa fa-reply" aria-hidden="true"></i>
              <a href="#" (click)="openMessageForm(message.author.id)" i18n>reply</a>
              &nbsp;
            </span>
            <span *ngIf="message.all_messages_link && message.dialog_with_user_id" ngPreserveWhitespaces>
              <i class="fa fa-comments-o" aria-hidden="true"></i>
              <a routerLink="/account/messages" [queryParams]="{folder: 'dialog', user_id: message.dialog_with_user_id}" i18n>entire dialog</a>
              <small>({{message.dialog_count}})</small>
              &nbsp;
            </span>
            <app-past-time-indicator [date]="message.date"></app-past-time-indicator>
          </div>
        </div>
      </div>
    </div>
    <app-paginator [data]="paginator" *ngIf="paginator"></app-paginator>

    <p *ngIf="items.length <= 0">No messages</p>
  </div>
  <div class="col-lg-4 mb-4 order-1">
    <app-account-sidebar></app-account-sidebar>
  </div>
</div>
