<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/" i18n>Index page</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/persons" i18n>Persons</a>
    </li>
  </ol>
</nav>

<div class="page-header" *ngIf="item">
  <h1 [innerHTML]="item.name_html"></h1>
</div>

<ng-container *ngIf="isModer$|async as isModer">
  <p *ngIf="isModer && item">
    <i class="fa fa-cog mr-1" aria-hidden="true"></i>
    <a [routerLink]="['/moder/items/item', item.id]" i18n>edit</a>
  </p>
</ng-container>

<div class="card card-body mb-4" *ngIf="item && (links.length > 0 || item.description)">
  <app-markdown [markdown]="item.description"></app-markdown>

  <p *ngIf="links.length > 0">
    <ng-container i18n>Web-site:</ng-container>
    <ng-container *ngFor="let link of links">
      <a [href]="link.url" [textContent]="link.name ? link.name : link.url"></a>
      <br />
    </ng-container>
  </p>
</div>

<div *ngIf="authorPictures.length > 0">
  <h3 i18n>Pictures</h3>
  <div class="row">
    <div class="col-6 col-md-4 col-lg-3" *ngFor="let picture of authorPictures">
      <app-thumbnail [picture]="picture" [route]="['author', picture.identity]"></app-thumbnail>
    </div>
  </div>

  <app-paginator [data]="authorPicturesPaginator" *ngIf="authorPicturesPaginator"></app-paginator>
</div>

<div *ngIf="contentPictures.length > 0">
  <h3 i18n>Pictures</h3>
  <div class="row">
    <div class="col-6 col-md-4 col-lg-3" *ngFor="let picture of contentPictures">
      <app-thumbnail [picture]="picture" [route]="[picture.identity]"></app-thumbnail>
    </div>
  </div>

  <app-paginator [data]="contentPicturesPaginator" *ngIf="contentPicturesPaginator"></app-paginator>
</div>
