<nav aria-label="breadcrumb" *ngIf="!(layoutParams$ | async).isGalleryPage">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/" i18n>Index page</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/persons" i18n>Persons</a>
    </li>
  </ol>
</nav>

<ng-container *ngIf="!(layoutParams$ | async).isGalleryPage">
  <ng-container *ngIf="item$ | async as item">
    <div class="page-header">
      <h1 [innerHTML]="item.name_html"></h1>
    </div>

    <p *ngIf="isModer$ | async">
      <i class="bi bi-gear-fill me-1" aria-hidden="true"></i>
      <a [routerLink]="['/moder/items/item', item.id]" i18n>edit</a>
    </p>
  </ng-container>
</ng-container>

<router-outlet></router-outlet>
