<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/" translate>page/1/name</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/moder" translate>page/67/name</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/moder/pictures" translate>page/73/name</a>
    </li>
    <li class="breadcrumb-item" *ngIf="picture">
      <a [routerLink]="['/moder/pictures', picture.id]" translate [translateParams]="{id: picture.id}">moder/picture/picture-n</a>
    </li>
  </ol>
</nav>

<div class="page-header">
  <h1 translate>page/148/name</h1>
</div>

<div class="crop-area mb-3" *ngIf="picture">
  <img alt="" [src]="picture.image.src" (load)="onLoad($event)" />
</div>

<div class="mb-4" *ngIf="picture">
  <span translate [translateParams]="{resolution: resolution, aspect: aspect}">crop-dialog/resolution-x-aspect-y</span>
  <button (click)="selectAll()" class="btn btn-secondary" translate>crop-dialog/select-all</button>
  <span class="float-right">
    <a [routerLink]="['/moder/pictures', picture.id]" class="btn btn-secondary" translate>dialog/close</a>
    <button (click)="saveCrop()" class="btn btn-primary" translate>crop-dialog/save</button>
  </span>
</div>
