<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/" i18n>Index page</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/moder" i18n>Moderator page</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/moder/pictures" i18n>Pictures</a>
    </li>
    <li class="breadcrumb-item" *ngIf="picture">
      <a [routerLink]="['/moder/pictures', picture.id]" i18n>Picture №{{picture.id}}</a>
    </li>
  </ol>
</nav>

<div class="page-header">
  <h1 i18n>Cropper</h1>
</div>

<div class="crop-area mb-3" *ngIf="picture">
  <img alt="" [src]="picture.image.src" (load)="onLoad($event)" />
</div>

<div class="mb-4" *ngIf="picture">
  <span i18n>{{resolution}} (aspect is about {{aspect}})</span>
  <button (click)="selectAll()" class="btn btn-secondary" i18n>Select all</button>
  <span class="float-end">
    <a [routerLink]="['/moder/pictures', picture.id]" class="btn btn-secondary" i18n>Close</a>
    <button (click)="saveCrop()" class="btn btn-primary" i18n>Save changes</button>
  </span>
</div>
